[2016-08-01 03:40] ColinSullivan1 opened #4 "Support async/await for asynchronous publishing."

[2016-08-01 17:31] #4 closed, assigned to nobody

[2016-08-16 11:12] typusomega opened #13 "Ack seems not to be working"
Hi,

I've faced a weird issue concerning the subscriber's ack mechanisms.
It looks like if they would neither work with auto nor with manual acking.

The publisher retrieves an exception after publishing 16384 messages, which is the defualt AckWait-Value.
The weird thing is, that my subscriber obviously receives and (manually) acks messages.

Regards

[2016-08-16 15:22] ColinSullivan1 commented on #13
@typusomega ,  Thank you for raising this issue, we appreciate you using NATS!

Publish acknowledgements are completely decoupled from subscriber acknowledgements.   The server sends an acknowledgment to the publisher when the server has persisted the message, independent of what the subscriber may be doing.  Subscribers, on the other hand, send acknowledgements to the streaming server to let the

[2016-08-17 07:36] typusomega commented on #13
Hi,

thanks for your fast response.

I already assumed that publisher acks and subscriber acks are decoupled. But I think 'Unacked messages on the fly' is the time between publisher and subscriber (not publisher and server)

This is my publisher exception:
[code]

Regards

[2016-08-17 15:32] ColinSullivan1 commented on #13
@typusomega, Happy to help!

It looks like you are publishing very quickly - the option `StanOption.MaxPubAcksInFlight` determines how many unacknowledged publish messages can be outstanding from the server when publishing asynchronously,  and the default 16k.  Your application at that point should block in a publish API until the server returns additional acknowledgements.  There is no dependence

[2016-08-18 09:29] typusomega commented on #13
Hi,

thanks for your explanation.

This is what I'm doing:
[code]
Since Publish() is a synchronous call I assumed it would block until the server's ack was received.

I already changed the timeout and it's working that way, so I'm closing this.

Best regards

[2016-08-18 09:29] #13 closed

[2016-08-18 17:01] ColinSullivan1 commented on #13
Great!  Glad it is working out for you.  Again, thanks for raising the issue!

[2016-08-25 20:22] bkim54 opened #14 "Should Timestamp of messages be in UTC Format?"
Hi, I was looking through the StanMsg.cs file and noticed that the received timestamp of the message gets constructed like this
` return new DateTime(1970, 1, 1, 0, 0, 0, 0)`
but according to msdn documentation this results in an 'unspecified' DateTimeKind, should it be set to
`new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc)`?

[2016-08-25 21:36] ColinSullivan1 commented on #14
@bkim54:  Thanks, I'll look into it.

[2016-08-25 22:46] #14 closed

[2016-08-25 22:47] ColinSullivan1 commented on #14
@bkim54 Fixed - Thanks for creating the issue!

[2016-10-11 22:36] bkim54 opened #21 "get current max sequence number for a topic."

[2016-10-21 19:00] bkim54 opened #22 "SubscriptionOptions.StartAt(DateTime time) should take in a UTC not a local time"
I was using the DateTime overloaded method for subscriptionOptions.startAt() and I noticed that you have to pass in a local DateTime object to get the correct behavior. Looking at AsyncSubscription.cs line 77 `(DateTime.Now - options.startTime));` shouldn't this be using `DateTime.UtcNow`? so the user has to pass in a UTC DateTime?

FWIW java and node stan clients do StartAtTime with respect to UT

[2016-10-21 19:40] ColinSullivan1 commented on #22
@bkim54 , I'll look at this - Thanks!

[2016-10-21 22:37] #22 closed

[2016-10-25 15:34] ColinSullivan1 commented on #21
@bkim54 Thank you for opening this.  This is related to https://github.com/nats-io/nats-streaming-server/issues/175.

[2016-11-14 17:33] sfrooster opened #27 "Add Client Support for Subscription.Close()"
This is/will be supported in the Server, needs to be implemented in the Client:

https://github.com/nats-io/nats-streaming-server/issues/182

[2016-11-14 17:52] ColinSullivan1 commented on #27
Thanks for opening the issue.  It's on my plate.

[2016-12-08 22:56] ColinSullivan1 commented on #27
For tracking, here are the parallel go client commits:

https://github.com/nats-io/go-nats-streaming/pull/115
https://github.com/nats-io/go-nats-streaming/pull/123

[2016-12-14 12:23] anjelinio opened #28 "Publish Acks always timeout"
Hi guys, I'm facing the exact same issue described earlier at:

https://github.com/nats-io/csharp-nats-streaming/issues/13

I've already tried raising my timeout limit to 30 secs, and max pubs in flight to around 30K. That resulted in the timeouts happening later, exactly at 30K messages sent.

I know I am publishing too fast, actually I'm publishing 1.5 million messages in a loop as fast as I can

[2016-12-14 16:54] ColinSullivan1 commented on #28
@anjelinio ,

Thank you for using NATS!

The ack behavior seems unusual, I'll take a look.

As far as performance goes, 1.5 million msgs a second is a lot for a NATS streaming server - you're very likely hitting some limits (disk/cpu/memory).  You could be swapping memory which will really impact performance.  That being said, 500 small messages shouldn't take that long to produce, you should norm

[2016-12-14 16:59] ColinSullivan1 commented on #28
One thought - using a new client ID for each test will result in the NATS streaming server is persisting the data for each test run.  This will have an additional memory/disk impact on the streaming server - as you run tests, you'll consume much more resources than using the same client ID (unless you are clearing out files and restarting the server for each test run).

[2016-12-14 17:23] anjelinio commented on #28
Hey Collin, yeah, I run a few more tests on it, and I came to the same conclusion, that I'm hitting "some" limit at some point. The fact that I'm running the test on my development machine certainly won't help there too :P

I've played around with my test code, lowering/raising the number of consumers and no of messages published and it seems that the number of subscribers directly affects the ser

[2016-12-15 02:19] ColinSullivan1 commented on #28
@anjelinio , I merged PR https://github.com/nats-io/csharp-nats-streaming/pull/29 into master, which should resolve the issue you are seeing with the timeouts.

Thanks,
Colin

[2016-12-15 10:22] anjelinio commented on #28
Thanks Collin, I'll try it out asap. I should tell you that the same applies to the non-streaming NATS server too. In my test it has to do with the number of listeners on my channel. Anything above 7 listeners is guaranteed to fail on my system.

I'm using the C# client, compiled for .NET 4.0 if you need to, I can send you a zip with my test project

[2016-12-15 15:43] ColinSullivan1 commented on #28
@anjelinio - How fast are you publishing when you are seeing this with non-streaming NATS?  If publishing as fast as possible, I'm still thinking you're likely running into hardware/os resource issues....  At a moderate rate, it's not out of reach for an application to support thousands of subscribers.

[2016-12-15 15:53] anjelinio commented on #28
Same test, as fast as I can. I also tried another test where I pause some random amount of time between sending messages  - anything between 0 and 30 secs - which works much better indeed, but I can't really confirm the "thousands" part with many messages. Unfortunately I only got a single dev machine here and I need it to work.

I'll leave it running tonite with something like 1000 consumers and

[2016-12-15 16:11] ColinSullivan1 commented on #28
OK, I'll look forward to your results!

A few things for your test:
* The NATS server will cut off slow subscribers as a protection mechanism to ensure it's own availability, so you may encounter slow subscriber errors resulting in a dropped connection in your test if publishing faster than your application can consume.
* If you are using 1000 consumers (subscribers), I'd suggest setting the [Subs

[2016-12-16 09:33] anjelinio commented on #28
Mornin' Collin.

I've run my little test last night, settings were 1000 messages published with variable delay 0 - 15 secs, for 200 subscribers, total 200K messages to be delivered. In my test I wait for noOfMessages * 1min for delivery before I exit and print out some results.

I found it still running this morning ( lol, 200K mins is a lot of time apparently :D ), it had delivered around 199K of

[2016-12-17 00:23] ColinSullivan1 commented on #28
@anjelinio ,

Thank you for sharing your code.  I'm wondering if you are running into slow subscribers errors.  If a subscriber cannot keep up, the NATS server will disconnect a the client to protect itself.

I suggest adding some sort of notification in the various error handlers to see if you are getting disconnected (and thus missing messages), in your SLNet.Base.Messaging assembly.  If you set

[2017-01-10 20:10] ColinSullivan1 opened #32 ".NET 4.5 support"
This may be required for some users; so long as there are no compatibility issues, support should be added.

[2017-02-10 22:49] vsundupey opened #34 "After publisher reconnect to new server, messages not delivered to subscriber"
please, check my fork
https://github.com/vsundupey/csharp-nats-streaming

[2017-02-11 00:05] ColinSullivan1 commented on #34
@vsundupey , Thank you - I'll take a look.

[2017-02-11 04:50] ColinSullivan1 commented on #34
@vsundupey , It looks like you are using two NATS streaming servers, an are publishing to only one.  The NATS streaming server is currently single node, so you should use one for your test.  I'd suggest starting with one connection, one subscriber, and one server to experiment with redelivery.  There are some examples in tests [here](https://github.com/nats-io/csharp-nats-streaming/blob/0.1.3/STAN

[2017-02-11 04:50] #34 closed

[2017-02-15 00:27] #27 closed

[2017-02-15 17:09] #28 closed

[2017-02-17 19:44] ColinSullivan1 opened #36 ".NET core support"

[2017-02-21 20:01] #36 closed

[2017-03-08 15:46] #32 closed

[2017-04-24 07:07] loremaps opened #42 "NuGet restore for .NET core"
Hi,

I get the following exception when trying to restore the NuGet package in an .NET Core project (VS2017):

This should be working according to #37 correct?

Thanks

[2017-04-24 15:21] ColinSullivan1 commented on #42
@loremaps , this is odd - It looks like the .NET 45 clients are being installed with core.  Have you tried clearing out your local NuGet cache before restoring?

 `nuget locals -Clear all`

[2017-04-24 15:33] ColinSullivan1 commented on #42
Ahh, I see the problem; .NET core is not available for NATS streaming in NuGet yet, only in master branch.  There will be release soon (I'm aiming for the next few days) where the latest streaming NuGet packages will have .NET core support.  In the meantime, it you [build](https://github.com/nats-io/csharp-nats-streaming#net-core) the NATS streaming client, you'll have .NET core support.

[2017-04-24 16:07] loremaps commented on #42
Thank you for your prompt response. Indeed building the client works fine with .NET core. Looking forward for the latest NuGet packages.

[2017-04-24 16:56] ColinSullivan1 commented on #42
@loremaps You're welcome - I'm glad to hear it is working out for you!  The release is coming soon...

[2017-04-24 16:56] #42 closed

[2017-05-02 04:15] itn3000 opened #47 "provide nuget package for net452(or net45)"
It makes it easier to create desktop applications(like windows forms,wpf).

[2017-05-02 04:26] itn3000 commented on #47
oh sorry, I found it will be supported 0.1.5.0, I close this issue

[2017-05-02 04:26] #47 closed

[2017-05-02 14:57] ColinSullivan1 commented on #47
No worries - thank you for using NATS!

[2017-05-17 04:12] itn3000 opened #48 "adding option for choosing Close() or Unsubscribe() on Disposing IStanSubscription"
I wrote the following code.
[code]
I expected to output string "x[number]" continuously.
but some messages sent while closing subscriptions cannot be received by subscription.
This can be avoided by executing Close() before Dispose().(by surrounding try-finally)
So I suggest the option for choosing Close() or Unsubscribe() when disposing subscription.

[2017-05-17 18:17] ColinSullivan1 commented on #48
@itn3000 , Thank you for using NATS!

That sounds reasonable to me - dictating disposal behavior through an option would be a nice feature with respect to API usage.  I'll get this in by the next release, or a PR is always welcome.

Thanks,
Colin

[2017-05-18 14:47] itn3000 commented on #48
I created PR (#49)

[2017-07-11 20:29] ColinSullivan1 commented on #48
Resolved by #49.

[2017-07-11 20:29] #48 closed

[2017-08-09 14:14] ColinSullivan1 commented on #21
Closing this issue as part of housekeeping.  Moving forward, this will be addressed by  https://github.com/nats-io/nats-streaming-server/issues/175.

[2017-08-09 14:14] #21 closed

[2017-11-13 17:54] ColinSullivan1 opened #50 "Add example demonstrating TLS Support"
Add example code in the readme to demonstrate passing a TLS NATS connection into NATS streaming.

[2018-04-24 15:39] mbgonicus opened #54 "System.IO.FileNotFoundException running on Mono/Linux"
I am trying out the NATS and NATS streaming system with mono on linux. I added STAN.Client via NuGet and my IDE (Rider) finds the reference without any problems. The build also works. But when trying to run the project, it aborts with an error:

[code]
Although the NuGet package is installed and located where all the others are.

I had the same issue with [csharp-nats](https://github.com/nats-io/c

[2018-05-07 01:14] Kikimora opened #55 "Why StanConnection blocks on PublishAck delete?"
I struggle with one deadlock in my software and I think NATS Streaming is to blame. ASK timeout handler removes  PublishAck object from blocking collection right before ACK finally arrives. This makes ACL processing to forever block on empty collection.

I plan to fix this by making that collection non blocking on remove. But I wonder if this is a good idea in the first place. I've spent just a fe

[2018-05-10 18:20] ThomasVestergaard opened #56 "Connection fails when clusterId is anything but "test-cluster""
This works:
`var natsConnection = new StanConnectionFactory().CreateConnection("test-cluster", "something-else");`

This does not
 `var natsConnection = new StanConnectionFactory().CreateConnection("my-cluster", "something-else");`

Is this somehow tied to the configuration of the cluster or otherwise intended behaviour?

[2018-05-10 19:32] ColinSullivan1 commented on #56
@ThomasVestergaard , thanks for using NATS!

You'll want to match your cluster id connection param with what you use with the cluster ID (the `-cid` flag) of the NATS streaming server. The default is `test-cluster`.  You can find the NATS Streaming Server command line options [here](https://github.com/nats-io/nats-streaming-server#command-line-arguments).

` -cid, --cluster_id  <string>      Clust

[2018-05-10 19:58] ThomasVestergaard commented on #56
@ColinSullivan1 No problem, it's an interesting project with a lot of great features already.

Great, I thought it might be something like that. I'll look at the server config.
You can close the issue.

Thanks!

[2018-05-10 19:58] #56 closed

[2018-05-10 23:59] manigandham opened #57 "Publish latest Nuget package version"
The nuget.org listing shows versions 0.1.4 from April 26, 2017: https://www.nuget.org/packages/STAN.Client/

It looks like there have been several commits since then, so can we get a new package published to Nuget?

[2018-05-14 21:07] ColinSullivan1 commented on #57
@manigandham , we can.  I'd like to do a few more things first... working on getting one out soon.

[2018-05-27 08:35] ttakahari opened #59 "Which should I use csharp-nats or csharp-nats-streaming?"
Hi.

I develop an application that sends messages to a NATS server with C#.

So, I look for NATS client library for C# and I find two libraries.
One of them is this repository and another is [here](https://github.com/nats-io/csharp-nats).

I'm confused because I don't know what is the difference.
Which library should I use and cloud you tell me what is the difference?

[2018-05-27 14:55] ColinSullivan1 commented on #59
@ttakahari , Thank you for using NATS!

if you are sending to a core NATS server (`gnatsd`) you'll want to use [csharp-nats](https://github.com/nats-io/csharp-nats).  This repository is the .NET client library for NATS streaming.

[NATS streaming](https://nats.io/documentation/streaming/nats-streaming-intro/) is another component of NATS used when you need to guarantee message delivery or replay o

[2018-05-27 14:55] #59 closed

[2018-05-27 15:02] ttakahari commented on #59
@ColinSullivan1
Thank you for replying.
I find which libraty I should use and what is the difference.
I want my developing application to send message surely, so I will use csharp-nats-streaming.

[2018-06-05 18:20] ColinSullivan1 commented on #55
@Kikimora I will take a look.   Would you have some test code that demonstrates this?  Could you be hitting the `MaxPubAcksInFlight` value, which will block publish calls?

[2018-06-11 15:56] ktamayop opened #63 "Connection Lost Handler and error handling strategy."
Hey guys!

I've been playing around a little with the library. I'd love to hear your thoughts on the strategy I should use to gracefully  handle the errors when creating connections and other connectivity issues I might face.

Looking at the golang client you can see a [ConnectionLostHandler](https://github.com/nats-io/go-nats-streaming/blob/e15a53f85e4932540600a16b56f6c4f65f58176f/stan.go#L105) f

[2018-06-11 18:33] ColinSullivan1 commented on #63
Hi @ktamayop, thank you for looking at NATS!

This is a relatively new feature to the go client and hasn't been ported into the C# client yet.  I'm hoping to implement this soon.  Underneath this library, core NATS will attempt to reconnect and will resubscribe if you lose network connectivity to the connected NATS server (which may be in your NATS streaming server process if you are running the e

[2018-06-11 18:52] ktamayop commented on #63
That makes perfect sense! I'll take a look at these promising stuffs ASAP. Thank you very much @ColinSullivan1.

Karel.

[2018-06-12 20:24] Kikimora commented on #55
I don't know if I hit MaxPubAcksInFlight... I removed locks in delete and since then I never saw any deadlocks like this. I'm still not sure if this is a correct fix.

[2018-06-13 22:31] virtualstaticvoid commented on #50
Probably a bit late, but I figured this out today, so hopefully it helps someone else arriving here.

[code]

[2018-06-25 18:13] ColinSullivan1 commented on #50
@virtualstaticvoid , thank you for providing this.  I'll add it to the README.  Much appreciated!

[2018-06-27 03:40] ColinSullivan1 commented on #54
Thank you for raising this issue - I'll take a look.

[2018-06-27 17:28] #50 closed

[2018-06-27 17:34] ColinSullivan1 commented on #50
@virtualstaticvoid, thanks again for providing the code and moving this issue forward.  I reorganized your code to provide a TLS section in the README.  Thanks for the contribution!

[2018-06-27 20:35] ColinSullivan1 commented on #55
I've been looking into this, and haven't spotted any deadlock prone code, but I certainly admit there could be one.  Will continue to look...

[2018-06-29 11:02] Kikimora commented on #55
@ColinSullivan1 I think that deadlock might happen if ACK timeout handler removes PublishAck object from blocking collection right before ACK finally arrives. I think this is a recipe for deadlock:
- Two parallel processes (publish and timeouts) remove same object from blocking collection.
- Remove blocks if there is no object to remove.

[2018-07-13 14:46] harold-toledo opened #68 "Durable subscription not receiving more messages"
I have a console app that subscribes to a subject/topic using a durable subscription, as part of my testing I was constantly stopping and starting the app and I was getting all the messages that were published while the app was down, as expected from a durable subscription. One day I stopped the app and since then when starting it again I have not been able to receive any more messages, even thoug

[2018-07-17 00:29] ColinSullivan1 commented on #68
Would you be able to run the streaming server with the debug (`-SD`) parameter and provide the output?

CC @kozlovic

[2018-07-18 22:54] Kikimora opened #72 "One thread per subscription seems suboptimal"
I have a backend system which is based on NATS Streaming and microservices. Every service listens to few subscriptions and process messages. During integration tests we run 3-5 such services in a single process. I noticed that total number of threads became very high, it tops 200 threads and 80% them are NATS async subscriptions waiting for data (stacktrace below).

[code]

I imagine such huge num

[2018-07-18 23:42] ColinSullivan1 commented on #72
@Kikimora ,

There is a way!  By default the NATS client is optimized for throughput, but you can optimize for large numbers of subscribers by setting the [`SubscriberDeliveryTaskCount`](http://nats-io.github.io/csharp-nats/class_n_a_t_s_1_1_client_1_1_options.html#a030dfa5eac04072735d7529147d5c562) option on a  underlying core NATS connection.

First, create a core NATS connection with this prope

[2018-07-27 15:42] ColinSullivan1 opened #73 "StanConnectRequestTimeoutException leaves client in invalid state"
After `StanConnectRequestTimeoutException` is thrown client is in invalid state with resources hanging in the void. This prevents application from closing gracefully.

[code]

After executing this code application stays open. My machine runs Windows 10 64-bit with nats-streaming-server 0.10.2.

Originally filed as https://github.com/nats-io/csharp-nats/issues/225 by @mabzd

[2018-07-27 15:46] ColinSullivan1 opened #74 "Multiple connections in multithreaded environment fail"
Tried to use multiple NATS clients in multithreaded environment, but connections are failing with `Invalid connection` or `Connection Request Time out` when number of items scheduled in thread pool is above 6 (the number varies between 6 and 13).

This is my test code:

[code]

Which produces following output:

[code]

I have nats-streaming-server version 0.10.2 running on my local machine (window

[2018-09-11 20:30] manigandham commented on #57
@ColinSullivan1 Any update here?

It really seems like the C# library is just neglected if it takes over 1 year to publish the latest changes...

[2018-09-11 21:19] ColinSullivan1 commented on #57
Unfortunately there is a lot of other work that keeps taking priority since there is revenue attached to it.  This is still on my plate, and I have much of the connection lost handler work implemented.  I am getting close to a release.

[2018-09-18 13:14] anjmao opened #76 "Version 0.1.5.0 nuget"
Hi, could you push 0.1.5.0 to nuget? I would like to use Protobuf 3.6. Thanks :)

[2018-09-30 12:54] selstam opened #77 "Messages get redeliverd after a client disconnects"
Hi!

I have three clients getting messages from a three node cluster. All clients are connected to the same node.

They are subscribing a channel and set to be durable and with the same queue group. I publish 200 messages to the channel and the three clients starts receiving all messages. It works fine.

If I limit a client to just receive 10 messages, then close, the remainder of the messages tha

[2018-10-01 15:13] Exile333 opened #78 "After losing connection client is in invalid state"
This problem is similar to #73  .
After losing connection to NATS Streaming server client is in invalid state. It can't close and/or dispose connection (instance of `STAN.Client.IStanConnection`), in this case application just stops working, waiting for connection to close. If one doesn't close the connection, application can't close as in #73 case.
Code to reproduce error with NATS Streaming serv

[2018-10-08 07:17] selstam opened #79 "Have to close IConnection manually when closing ISTANConnection"
I saw some rogue connection on my NATS-server and they kept increasing in numbers.

I noticed that simply closing the ISTANConnection wouldn't unsubscribe the internal IConnection. I have to manually close the IConnection before closing the ISTANConnection to release the connection to my server.

[code]

Even if i try to dispose the ISTANConnection the connection to the NATS server remains.

[2018-10-26 15:50] ibrahimuludag opened #80 "Disposing NATSConnection immediately after unsubscribing throws StanBadSubscriptionException"
The following code throws StanBadSubscriptionException. I have 50 subscriptions in the _subscriptions array.

[code]
The error is as below
[code]

But if I put a delay, everything is OK.

[code]

I think, Close() method does not finish closing when exiting the method.

[2018-11-06 15:53] ColinSullivan1 commented on #76
There are a few fixes in progress I'd like to get added first.  I realize this has been awhile.

[2018-11-06 15:54] ColinSullivan1 commented on #80
Hmm.   Thanks for reporting this.

[2018-11-06 15:58] ColinSullivan1 commented on #79
Did you create a NATS connection yourself and pass it in through [StanOptions.NatsConn](http://nats-io.github.io/csharp-nats-streaming/class_s_t_a_n_1_1_client_1_1_stan_options.html#a7119c66f161f0f7e37ba9ac17e1ca7d5), or let the STAN API create it?

[2018-11-06 16:04] selstam commented on #79
I created the NATS connection myself and passed it on to StanConnectionFactory().CreateConnection() ...

[2018-11-13 14:22] muiAtQlik commented on #54
Any new about how to solve this? We are facing the same problem.....

[2018-11-13 20:42] ColinSullivan1 commented on #54
No news I'm afraid.  Unfortunately I'm tied up until later next week.  In the meantime, do you see the same issue with NATS.Client v0.8.1 - knowing that's been resolved (or not) might help resolve this.

[2018-11-16 18:43] ColinSullivan1 commented on #79
@selstam , In that case, you'll need to close the connection you passed into the NATS streaming client.  The NATS streaming client won't close (or otherwise alter) a NATS connection passed to it.

[2018-11-16 18:43] #79 closed

[2018-11-19 11:57] qlik-bkl commented on #54
@ColinSullivan1
Think I found the issue, mismatch when it comes to case.
`AssemblyName` is set to `STAN.CLIENT`
https://github.com/nats-io/csharp-nats-streaming/blob/master/STAN.CLIENT/STAN.CLIENT.csproj

While the file on disk is named `STAN.Client.DLL`

When I renamed the the file to `STAN.CLIENT.DLL` and updated the references in the csproj i got rid of the `FileNotFoundException`
[code]

[2018-12-08 00:38] hendrakwong opened #81 "Example on stan-sub's "-server" option is incorrect"
stan-sub's "-server" option is incorrect. It should be "-url" instead.

[2018-12-17 18:46] kiates opened #84 "Subscriber example isn't forwarding the configured options"
The configured options aren't being forwarded when opening the connection, so if you specify an url via command-line it won't actually be used.

[2019-01-03 22:50] ColinSullivan1 commented on #84
Resolved by #85.  Thanks!

[2019-01-03 22:50] #84 closed

[2019-01-11 10:03] vasicvuk opened #86 "Connection state is still Connected after loosing connection"
For some reason **Connection.NATSConnection.State** is still CONNECTED after i kill the server.

In NATS Client i had a same issue but i managed to solve it with:
[code]

But this options are not available in **csharp-nats-streaming**.

[2019-01-11 17:21] ColinSullivan1 commented on #86
Not directly, but you can create a NATS connection, then pass it into the streaming client through the [NatsConn](http://nats-io.github.io/csharp-nats-streaming/class_s_t_a_n_1_1_client_1_1_stan_options.html#a7119c66f161f0f7e37ba9ac17e1ca7d5) streaming connection option.

There is also a section in the README about [enabling TLS ](https://github.com/nats-io/csharp-nats-streaming#enabling-tls)- dem

[2019-01-16 21:18] ColinSullivan1 commented on #86
@vasicvuk , An example can be found [here](https://github.com/nats-io/csharp-nats/issues/235#issuecomment-454933904).

[2019-01-23 11:07] meraghi commented on #68
I think I have the same issue too. When I use a simple console app with simple example everything seems ok but on my actual code with the same configurations it's somehow erratic when durable name is set. I went through the STAN's client code and saw that it doesn't get any callback from internal nats connection's subscription:

inboxSub = sc.NATSConnection.SubscribeAsync(inbox, sc.processMsg);

i

[2019-01-23 16:15] harold-toledo commented on #68
I have not experienced this anymore, and I am almost convinced now that what I was experiencing was not caused by anything related to the platform. My particular case involve durable queue groups and after some time I realized that I was using the same subject+queue for my local testing than the instances of the application running in our development environment, so my guess is that most probably

[2019-01-23 16:50] meraghi commented on #68
So I guess that's not the same issue. Thanks for clarifying this.

[2019-01-25 13:41] ChristianSauer opened #87 "Is this still viable?"
Hello,
I am currently considering moving off RabbitMq due to the lack of good client libraries ( most assume that they will always talk to another c# client, which is not viable in our ecosystem).
But the lack of activity on this repro concerns me - it does not look like bugs gets fixed etc. I am kind of burned by the lack of development on the RawRabbit Client so I would like to know what your pl

[2019-01-26 06:44] meraghi opened #88 "Erratic behavior when durable name is set"
When I use a simple console app with simple example everything seems ok but on my actual code with the same configurations it's somehow erratic when durable name is set. I went through the STAN's client code and saw that it doesn't get any callback from internal nats connection's subscription:

inboxSub = sc.NATSConnection.SubscribeAsync(inbox, sc.processMsg);

internal void processMsg(object send

[2019-01-26 11:38] #88 closed

[2019-02-12 21:23] ColinSullivan1 commented on #87
@ChristianSauer , Thanks for your interest in NATS!

Don't give up yet.  Admittedly, this repository hasn't been receiving the attention it needs lately - my role has changed over time and with our growing business at Synadia I cannot find as much time to devote to the C# repositories.  That being said, there has been ongoing development, albeit slowly (e.g. see the "pings" branch).

We're in the

[2019-02-14 23:23] ThomasVestergaard opened #90 "Having trouble detecting when server connection is lost"
I have been playing around with different methods of detecting when the connection to the server has been lost. None seem that great.

Would you be open to a pull request based on server-to-client heartbeats? I'm thinking something in the direction of an event or callback that is invoked when heartbeats has not been received for X seconds Y times in a row?

[2019-02-14 23:31] ThomasVestergaard commented on #90
Just noticed the 'pings' branch. This is looking interesting.

[2019-02-16 20:08] ThomasVestergaard commented on #90
For those interested. I implemented the proposed logic in my own copy as this repo is somewhat silent. Would love to do a PR if requested.
https://github.com/ThomasVestergaard/nats-streaming-csharp-client

[2019-02-16 20:08] #90 closed

[2019-02-20 14:41] Amardaya opened #93 "NATSTimeoutException when we supply a non existing or wrong cluster id"
Hi,
not sure if i m going to get my answer as i m not seeing a lot of activities around Nats Client using .net,

while i m trying to use Nats streaming server i start getting a misleading exception ( NATSTimeoutException )

 at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout)
   at NAT

[2019-02-20 23:01] ThomasVestergaard commented on #93
I have encountered this one as well and it can be somewhat difficult to track down if you are not aware of the importance of cluster id. However a NATSTimeoutException, IMO, is the correct exception. An error message saying that this coule be because if the IP/Hostname, Port OR cluster id might help narrowing this down earlier.

[2019-02-21 01:39] ColinSullivan1 commented on #93
This issue seems to be a common one.  Would something like a ClusterUnavailableException with the cluster name in the message sound reasonable?

[2019-02-21 01:52] Amardaya commented on #93
thanks for your answers guys
yes it make more sense to have an exception that contain a cluster as we need to separate exception between nats streaming connection (IStanConnection)  and nats connection (IConnection)  because nats connection doesn't really care about the cluster ID
Thanks

[2019-02-22 13:28] kasperhhk opened #94 "StanMsgHandlerArgs internal constructor and no interface makes unit-testing impossible"
StanMsgHandlerArgs currently has an internal constructor, and it is not implementing an interface.
This makes it impossible to create unit-tests on methods that in some way rely on an object of this type.

Would it be possible for it to be opened up, or for there to be some factory that can produce a "default" version?

Edit: This also applies to StanMsg

[2019-02-22 13:45] kasperhhk commented on #94
I noticed that other types, such as StanSubscriptionOptions, have a "GetDefaultOptions" static method, that produces a "default" object.
If this is added to StanMsgHandlerArgs and StanMsg, then it would be fine.

[2019-02-22 14:42] lorenzoisidori21 opened #95 "How to: durable queue subscriber"
I'm trying to use a durable queue subscriber. I just download the example and modified that.
In the StanSubscriber, I set the "DurableName" in the "StanSubscriptionOptions" and passed the 2qGroup" parameter in the "Subcribe" method.
It doesn't work.

After many attempts, I removed the using that dispose the "IStanSubscription" and the durable feature worked.

I wonder to know if this is the way or

[2019-02-27 10:42] BobyMoor commented on #94
+1 for StanConnectionFactory. Love the NATS and library, but it would be nice to have an option of unit testing.

[2019-02-28 11:02] lorenzoisidori21 opened #96 "Message redelivered even if already acknowledged"
My subscriber can do long work. Sometimes they are greater than default ack wait time (30sec).
So I try to manually ack my message, doing like this:

`StanSubscriptionOptions sOpts = StanSubscriptionOptions.GetDefaultOptions();

            sOpts.ManualAcks = true;

            EventHandler<StanMsgHandlerArgs> msgHandler = (sender, args) =>

            {

                args.Message.Ack();

[2019-03-02 03:14] bennyr103 opened #97 "Can't connect to nats streaming server in Docker cluster"
It seems I get a connection time out every time I try to connect to a cluster on the docker container. I have no problem connecting with the Nats Client. The streaming client works until I turn on clustering.

Here's how I fire up the cluster.
[code]

Here's how I try to connect
[code]

Here's the exception

The non streaming client works fine. No errors doing this:
[code]

navigating to localhost

[2019-03-04 18:51] ColinSullivan1 commented on #97
Thanks for using NATS!  Since it works when clustering is not enabled, I'm wondering if the NATS streaming servers are getting setup correctly in clustered mode.

A few questions - do you have at least three nodes in the streaming cluster?  Also, could you enable debug/trace on the cluster to be sure a leader is being elected?  You can do this by specifying`-SDV` in the NATS streaming server param

[2019-03-04 20:49] bennyr103 commented on #97
Hi @ColinSullivan1

I do have 3 nodes running. I kept the above command as simple as possible in order to reproduce the issue.

But you're right, I'm not seeing any leader election in the debug log like I do when I'm running the servers from the command line (Windows prompt, not Docker). I do see the routes connecting in Docker but it seems to end there.

[code]
[code]

Also I'm not sure why the c

[2019-03-04 21:09] wallyqs commented on #97
btw there is also the `--cluster_raft_logging` flag to enable the leader election verbose logging.

[2019-03-04 23:39] bennyr103 commented on #97
With the `--cluster_raft_logging` I'm seeing a lot of these

[code]

This probably isn't a client issue anymore, is it...

[2019-03-04 23:56] ColinSullivan1 commented on #94
I think this is a reasonable request, will add this functionality.

[2019-03-04 23:57] ColinSullivan1 commented on #95
I'm not aware of any specific issues - can you provide some test code that reproduces this?

If you don't dispose, you should close the subscriber when you are finished with it to recover resources and let the streaming server clean up.

[2019-03-05 02:16] bennyr103 commented on #97
Oops, turns out the cluster log path can't be the same for all three containers when they're running locally! I guess that's why those commands were working fine from a windows command prompt but not from the docker containers.

The streaming client connects fine now that the cluster is properly configured.

If anyone sees this and just wants a quick simple local setup using docker containers here

[2019-03-05 02:16] #97 closed

[2019-03-05 08:41] lorenzoisidori21 commented on #95
Thank you @ColinSullivan1 for the answer. I use this [nats streaming server](https://nats.io/download/nats-io/nats-streaming-server/).
The code is from the example in this project, just few changes.
Here is my Producer Code:

`using System;
using System.Collections.Generic;
using System.Diagnostics;
using System.Text;
using STAN.Client;
using System.Threading;

namespace STAN.Example.Publish
{

[2019-03-05 20:37] ColinSullivan1 commented on #96
The first message will be acknowledged as soon as it is received, so will not be resent.  If the second message is delivered to the client library and expires before it is processed by your callback, the NATS streaming server will redeliver it.  With a 30 second AckWait, and a 40 second delay, this is very likely to happen.

You can increase the AckWait through the [StanSubscriptionOptions.AckWait

[2019-03-05 20:37] #96 closed

[2019-03-06 09:05] lorenzoisidori21 commented on #96
Thank you @ColinSullivan1. The answer is clear and your solution, about to set the StanSubscriptionOptions.AckWait higher, works.
I misunderstood the purpose of manual ack and the subscriber's behaviour.

Now Subscriber behaviour is clear, but I still don't understand the sake of manual ack: when and why to use it?

Thank you in advance

[2019-03-18 11:23] natiki opened #104 "How do you connect to a remote streaming server?"
Hi,

[code]
When creating a conenction to the server, how do you do so when the client and the server are on two different machines? CrateConnection() only appears to offer the ability to offer a ClusterId as a means of connection. How do you specify a remote IP Address?

[2019-03-18 15:46] ColinSullivan1 commented on #104
@natiki , thank you for using NATS!

You'll want to use the `StanConnectionFactory.CreateConnection(clusterID, clientID, options)` API.

There are two ways, both require setting options when creating the connection.  First, you can create a NATS connection, then set that in options using the [STAN.Client.StanOptions.NatsConn](http://nats-io.github.io/csharp-nats-streaming/class_s_t_a_n_1_1_client_

[2019-03-19 09:54] natiki commented on #104
Hi @ColinSullivan1 ,

Much appreciated. That sorted me out.

[2019-03-19 09:54] #104 closed

[2019-03-19 10:47] natiki opened #105 "Messages not arriving for client...."
Hi,

I am just getting started with NATS Streaming and building a simple framework around what is available directly out the STAN Client. I have a basic publisher:

[code]

and a basic subscriber:

[code]
A couple of descendants which publish / subscribe to the `low` subject/queue/channel name:

[code]

I then exercise the above using a simple NUnit test case:

[code]
The NATS streaming server is

[2019-03-19 12:56] watfordgnf commented on #105
@natiki you're disposing of the connection in the subscriber before the message is ever sent:
[code]
When that method returns, `IStanConnection c` will have been disposed, along with it all subscriptions. You need to extend the life of the connection for the life of your subscriber, not just the duration of your `Subscribe` method.

You can approach this through many ways, one of which being to sa

[2019-03-19 13:11] #81 closed

[2019-03-19 21:46] natiki commented on #105
Hi @watfordgnf,

Appreciate the review and I will take some ideas from there. However what I forgot to mention is that the NATS server is running permanently and not spun up across my tests. So based on the fact that I had messages waiting I would have expected that:

[code]
would have at least shown the messages previously not delivered before the call to Publish(). Even if I swap the calls aroun

[2019-03-20 16:14] doshyt opened #106 "Vulnerable version of Google.ProtoBuf is used by STAN.CLIENT"
Hi,

We found out that the STAN.CLIENT project is using Google.Profobuf 3.2.0 which has a serious (8.8./10 CVSS) heap overflow vulnerability reported: https://nvd.nist.gov/vuln/detail/2015-5237

It can be resolved by updating to 3.4.0.

[2019-03-20 16:19] watfordgnf commented on #106
We appreciate the heads up, from the CVE it does not mention which outputs this affects. Does this affect the generated C# code? (the CVE discusses buffer overflows, a la unmanaged code)

[2019-03-20 16:25] doshyt commented on #106
Yes, you're right, it would affect C/C++ protobuf implementation, from what I could conclude from the github issue description.

[2019-03-20 16:25] #106 closed

[2019-03-27 16:02] #78 closed

[2019-04-12 19:07] senzacionale opened #107 "Why I need cluster. Can I do normal connect to NATS"
using (var c = new StanConnectionFactory().CreateConnection(clusterID, clientID, StanOption))

Why I need clusterId and clientId. I only want message persistence and no clustering. Can be without?

[2019-04-12 20:35] senzacionale opened #108 "Connection Request Timed out."
Exception

I have wery simple scenario:
[code]

and I am starting server as `"nats-streaming-server.exe"
`

What can be wrong. It is very simple scenario and should work

[2019-04-12 20:37] #107 closed

[2019-04-13 11:27] senzacionale opened #109 "NATSTimeoutException in combination with PureWebsocket"
If I want to use PureWebSocket (https://github.com/Coinigy/PureWebSockets) and OnMessage send messages to nats sreaming I am always getting NATSTimeoutException  exception in this code:
[code]

Can I use nats-streaming when I get message from web socket?

[2019-04-13 11:30] senzacionale commented on #74
Any info about this issue?

[2019-04-15 15:05] ColinSullivan1 commented on #108
@senzacionale , This looks like it should work if your client is on the same machine as the server.  You can check basic connectivity if you telnet to the NATS streaming server from where your client is running.

e.g.
[code]
If you don't see this, you have some other connectivity issues or will want to try using the hostname/IP of the machine the NATS streaming server is running on in your client.

[2019-04-15 15:16] ColinSullivan1 commented on #105
@natiki, Running the server throughout the test shouldn't cause any issues.  Did you change your code like @watfordgnf suggested to avoid disposing the connection?

Regarding your question, because your subscription is not blocking, the connection is being disposed before the message arrives.  You'll want to use something like an AutoResetEvent to block until you receive a message.  You can find a

[2019-04-15 15:32] senzacionale commented on #108
I see the same as you. I figure out that in single thread everything is working. Can be problem with multithreading because I want to use nats streaming inside websocket events. Is nats streaming thread safe and support multithreading?

[2019-04-15 16:10] ColinSullivan1 commented on #109
@senzacionale , The NATS servers do not support web socket connections at this time.  It's on the roadmap, but planned for the second half of 2019.

[2019-04-15 16:14] #109 closed

[2019-04-15 16:15] senzacionale commented on #109
I do not want to use websocket connections for Nats. I just want to use Nats inside wed events as multithreading.

Thank you

[2019-04-15 16:26] livrgst opened #110 "Messages get redelivered even if subscriber handler takes less than AckWait"
The issue can be reproduced in the subscriber [example](https://github.com/nats-io/csharp-nats-streaming/blob/master/examples/stan-sub/stan-sub.cs) if a small delay (like 100ms) is introduced:

[code]
Even if the handler processing is much shorter than the default subscription AckWait time of 30s, a large part of the messages (2000-3000 out of 10000) get redelivered, some of them up to 8 times.

I

[2019-04-15 19:09] ColinSullivan1 commented on #93
Hi all, I created a PR for this, #111 , does this look like it'll help?  After further thought, I didn't want to change the exception because that would be a breaking change in the API.

[2019-04-15 19:25] Amardaya commented on #93
yes it will diffenetly help and better than the previous exception
thanks Colin for this enhancement

[2019-04-15 19:25] #93 closed

[2019-04-16 20:52] #94 closed

[2019-04-16 20:54] ColinSullivan1 commented on #63
Resolved with #101.

[2019-04-16 20:54] #63 closed

[2019-04-17 21:51] ColinSullivan1 commented on #74
Not yet - I need to push a release out with lost connection detection, then will address this (and other bugs) after that.

[2019-04-18 04:02] senzacionale commented on #74
Great. Thank you

[2019-04-19 21:12] ColinSullivan1 commented on #87
Thank you for your patience, we've just released v0.1.5

https://github.com/nats-io/csharp-nats-streaming/releases/tag/v0.1.5

[2019-04-19 21:12] #87 closed

[2019-04-19 21:13] ColinSullivan1 commented on #76
Thank you for your patience, we've just released [v0.1.5](https://github.com/nats-io/csharp-nats-streaming/releases/tag/v0.1.5).

[2019-04-19 21:13] #76 closed

[2019-04-19 21:14] ColinSullivan1 commented on #57
Thank you for your patience, we've just released [v0.1.5](https://github.com/nats-io/csharp-nats-streaming/releases/tag/v0.1.5).

[2019-04-19 21:14] #57 closed

[2019-04-26 07:39] natiki commented on #105
Thanks @ColinSullivan1 that sample code helped me understand things better.

[2019-04-26 07:39] #105 closed

[2019-04-29 13:08] watfordgnf opened #115 "InvalidOperationException in cleanupOnClose"
Reported via Slack:

[2019-04-29 15:10] #115 closed

[2019-04-30 15:40] ColinSullivan1 commented on #110
The default ackWait time was incorrect - #117 should address this issue.

In the meantime,  you can manually set your [AckWait](http://nats-io.github.io/csharp-nats-streaming/class_s_t_a_n_1_1_client_1_1_stan_subscription_options.html#a345ca6a37db6c5ab84c0b2cdac66688e) timeout to 30s.  Also, if you reduce your [MaxInflight](http://nats-io.github.io/csharp-nats-streaming/class_s_t_a_n_1_1_client_1_

[2019-04-30 15:43] ColinSullivan1 commented on #108
The NATS streaming is thread-safe...  Would you have a test application that is failing so I can reproduce this issue?

[2019-05-02 14:58] ColinSullivan1 opened #120 "Document NATS connection lifetime"
Add documentation describing the underlying NATS connection lifetime vs the lifetime of a connection passed in through options.  Include discussion disposability and whether the app or STAN has the responsibility to do so.

[2019-05-02 16:24] ColinSullivan1 opened #122 "The Close API may throw an unexpected exception"
When there are publish acknowledgments in flight, invoking the Close API may throw a null reference exception.

Reported via slack.

[2019-05-02 21:45] #122 closed

[2019-05-09 13:11] sujitn opened #124 "Invalid uri exception on multiple server list."
Throws an Invalid uri exception if nats url contains multiple server separated by comma

The issue occurs on StanConnection.cs, new ConnectionFactory().CreateConnection(nopts) doesnt process the url string.

[2019-05-09 18:36] sujitn commented on #124
Fixed in #125

[2019-05-13 22:14] ColinSullivan1 commented on #110
I'm going to close this.  If you continue to encounter this problem, please reopen this issue.

[2019-05-13 22:14] #110 closed

[2019-05-14 03:54] lghinet commented on #110
that solved the issue, thanks

[2019-06-09 23:29] ColinSullivan1 commented on #124
This fix has been released with NATS version 0.9.0, and is available on Nuget.  Thank you for your contribution!

[2019-06-09 23:29] #124 closed

[2019-07-26 11:33] alexpantyukhin opened #129 "make AsyncSubscriber with await."
I reviewed the `Subscribe` method usages: `Subscribe(string subject, StanSubscriptionOptions options, EventHandler<StanMsgHandlerArgs> handler);`

I think we can have some kind more improvements. Please see the following code:
[code]

[2019-08-07 13:33] Data-Inquisitor opened #130 "Unable to access .pfx certificate when using example TLS scripts in a Universal Windows Application"
I am getting an error message when I try to load a .pfx certificate within a Universal Windows Application. This error does not occur when I execute the script in the Enabling TLS section (https://github.com/nats-io/stan.net) using a basic console app.

Specifically it is at this line where I get the error message.
natsOptions.AddCertificate(new X509Certificate2("client.pfx", "password"));

Error

[2019-08-07 14:06] ColinSullivan1 commented on #130
I understand UWA/UWP applications require additional permissions to access files outside of certain locations.  You could try using the [StorageFolder](https://docs.microsoft.com/en-us/uwp/api/Windows.Storage.StorageFolder) API to access your `client.pfx` file in the application installation directory or granting your application `broadFileSystemAccess` permissions.

https://docs.microsoft.com/en-

[2019-08-08 02:03] Data-Inquisitor commented on #130
Thank you for the tip Colin. Although I no longer get an access denied error, I am still unable to load the certification. Here is the code I am working with. It is very simple. It includes the default App + code for loading certification and connecting to the NATS streaming server.

I think there may be an error in how I am using StorageFolder and StorageFile.

Here is the code.
`
namespace Test

[2019-08-15 06:44] KrzysztofKielce opened #131 "How to apply credentials (user and password) to Subscriber?"
TL;DR
It would be useful if this example contained information about credentials (username & password):
`https://github.com/nats-io/stan.net/blob/master/examples/stan-sub/stan-sub.cs`

I get exception when I try this code:

	StanOptions stanOptions = StanOptions.GetDefaultOptions();
	stanOptions.NatsURL = _config.nats_URL;
	stanOptions.ConnectTimeout = 5000;

	StanConnectionFactory stanConnectionF

[2019-08-15 15:20] ColinSullivan1 commented on #131
You'll want to reorganize your code to set the user/pass in the NATS opts, then set the NATS options in the `stanOptions`.  `natsConn` is included for clarity.  You can simplify a bit by removing the natsConn and just assigning the new connection in place.

[code]

As STAN is a layer above NATS, we need to setup permissions for the STAN library to use core NATS.  You'll want to setup permissions i

[2019-08-15 15:34] ColinSullivan1 commented on #130
It looks like you're getting closer, but honestly I'm haven't personally used the StorageFolder API.  To test, have you tried setting permissions to `broadFileSystemAccess` to ensure it is a file access issue in the API?  If you can get the cert loaded, have you tried validating the X509 chain, with `X509Certificate2.Verify`?

[2019-08-15 15:36] ColinSullivan1 commented on #129
I do like that pattern.  Would you want to make a contribution?

[2019-08-15 15:37] ColinSullivan1 commented on #108
Thanks again for raising this issue. I'm closing it due to inactivity.  Please feel free to re-open if you get back to this.

[2019-08-15 15:37] #108 closed

[2019-08-19 16:00] DeployChef commented on #124
Thanks!

[2019-08-20 09:53] DeployChef opened #132 "How to autoswich connected node"
I try to configure cluster with three nodes. I create one producer and connected to cluster. I finded three discovered servers and take one to connect. Next I published any messages to topic and in this time I stoped that node, producer throw TimeOut Exception when try to send next message. Why producer doesn't not connected to another discovered nodes?
Please, explain how to do auto switch to ano

[2019-08-20 13:42] alexpantyukhin commented on #129
If I will have time soon I would like to do it. But also I don't mind if it will be implemented by someone else :)

[2019-08-29 02:39] xianghu1314 opened #134 "reconnect server"
@ColinSullivan1
i have a question.  i try to reconnect server when the connect lost . but the server respense error "the clientid already exists"，this is my code:
[code]

[2019-08-29 02:40] xianghu1314 commented on #134
@wallyqs @derekcollison @jeppevammenkristensen @DaleBingham

[2019-08-29 03:36] derekcollison commented on #134
Ping for @ColinSullivan1

[2019-08-29 14:04] ColinSullivan1 commented on #134
@xianghu1314 , thank you for reporting this.  Which version of the NATS streaming server and STAN.Client you are using?

[2019-08-29 21:08] robertmircea opened #135 "Recommended Pattern when Using IStanConnection"
I have an app which which subscribes to different subjects. Currently I am using a single IStanConnection shared by all subscriptions, but I was wondering if this is the intended usage pattern.

What is the recommended pattern for using IStanConnection: one IStanConnection shared by multiple/all subscriptions or each subscription with its own IStanConnection?

[2019-08-29 22:05] ColinSullivan1 commented on #135
@robertmircea, Thank you for using NATS!  That is the intended pattern - most users have one StanConnection for all subscriptions.  That's the preferred/recommended approach and should suffice for nearly all use cases.

In **very** rare cases we recommend multiple connections - these would be to connect to different streaming clusters or for edge case performance reasons.  If that's your case cert

[2019-08-30 06:42] xianghu1314 commented on #134
The NATS streaming server`s version is 0.16.0 of docker image [docker image](https://docs.docker.com/samples/library/nats-streaming/). and the STAN.Client Version is  "<package id="NATS.Client" version="0.8.1" targetFramework="net45" />". In the development  environment When i close the network  it looks work good as expected . but in the production environment i got the errors(i can`t get the net

[2019-08-30 06:48] DeployChef commented on #132
up

[2019-08-30 09:41] DeployChef opened #136 "How to reconnect?"
If i turn off one node i get timeout exception and crush my app. What i do wrong?

[code]

[2019-08-30 15:16] ColinSullivan1 commented on #134
@xianghu1314,

Looking at your code closer, I'd suggest attempting connections in a loop rather than recursing.  There are a few reasons for this:
* If the server is down long enough, you'll run out of stack space
* As you recurse down through errors, you could have have orphaned connection and subscription objects (at least for period of time) with active subscriptions/connections on the NATS str

[2019-08-30 16:01] ColinSullivan1 commented on #136
@DeployChef, thanks for raising this issue:

I tested with your code and this exception was thrown:
[code]

Is that what you were seeing?  If so, this is a valid exception - you timed out on your publish ack, so upon catching the exception you can choose to resend, log, etc.

[2019-09-02 06:17] DeployChef commented on #136
I set try{}catch and i want on second try get reconnected producer, but reconnect not happen...
It is only working when I set nats options.
`
Options nopts = ConnectionFactory.GetDefaultOptions();
                nopts.MaxReconnect = -1;
                nopts.MaxPingsOut = 2;
                nopts.PingInterval = 500;
                nopts.Servers = new[] { "nats://127.0.0.1:4223", "nats://127.0.0.

[2019-09-02 06:19] DeployChef commented on #136
My publish -
` using (c2.Subscribe("foo", (sender, handlerArgs) => Console.WriteLine(
                        System.Text.Encoding.UTF8.GetString(handlerArgs.Message.Data))))
                    {
                        Console.WriteLine("Connected. ConnServ {0}.", c?.NATSConnection?.ConnectedUrl);

                        while (true)
                        {

                            Consol

[2019-09-02 06:25] #132 closed

[2019-09-02 06:26] DeployChef commented on #132
https://github.com/nats-io/stan.net/issues/136 is this issure i was able to switch node, but with nats options.

[2019-09-02 08:28] DeployChef commented on #136
With stan option I get deadlock after two timeout exception :(

[2019-09-02 08:41] DeployChef commented on #136
Working:

          Options nopts = ConnectionFactory.GetDefaultOptions();
            nopts.MaxReconnect = Options.ReconnectForever;
            nopts.MaxPingsOut = 2;
            nopts.PingInterval = 500;
            nopts.Servers = new[] { "nats://127.0.0.1:4224", "nats://127.0.0.1:4224" };
            nopts.ReconnectedEventHandler = (o, a) =>
            {
                Debug.WriteLine("Reco

[2019-09-02 08:43] DeployChef commented on #136
But I think it must to work with only stan configurating, maybe add this configs to stan options?

[code]

[2019-09-02 09:11] DeployChef commented on #136
Another one trouble... When I use nats options, and turn off all streaming servers, my producer try to reconnect, if i turn on servers - I get deadlock while reconnecting....

[2019-09-02 11:27] DeployChef commented on #136
Deadlock happen when i turn off leader node.....

[2019-09-02 12:45] DeployChef commented on #136
When producer lost connection and I try to dispose connection - I get deadlock too

[2019-09-03 14:44] ColinSullivan1 commented on #136
Would you have a stack trace of the deadlocks you are seeing?  I'll run some tests and see if this is easily reproducible.

[2019-09-04 08:47] DeployChef commented on #136
I create repository with console app that shows deadlock in different actions.
https://github.com/DeployChef/NatsStreamingClientTrouble
docker compose for local cluster included.

[2019-09-04 12:29] ColinSullivan1 commented on #136
Thank you, much appreciated!  I was able to reproduce the problem.

It looks like there is a timeout that is not being set correctly.  I will get this fixed as a soon as I can, likely this weekend or early next week.

[2019-09-04 13:05] DeployChef commented on #136
Thanks! ;)

[2019-09-09 12:12] kaspertygesen opened #137 "Infinite loop after NATS restart"
We experience high CPU load in our services after NATS gets restarted or crashes for some reason.
It seems like there is an infinite loop somewhere in the `STAN.CLIENT`.

We have profiled it and it seems like the issue is related to this:

[code]

After a quick view of the code this snippet might be the issue when `0` is passed to `BlockingDictionary.Remove()` as timeout from `removeAck()`.

[code

[2019-09-09 13:45] ColinSullivan1 commented on #137
@kaspertygesen , thank you for raising this issue, and I do think you've found the bug with the timeout - this is related to #136.  I'll take a look at it today and get a fix out as a soon as I can.  Thanks!

[2019-09-10 01:16] ColinSullivan1 commented on #137
FYI - I've found the issue, and have a fix but it's not ideal imo.  I want to clean up some of the code around publish ack processing to keep this clean.  I'm hoping to have something tomorrow.

[2019-09-11 16:30] ColinSullivan1 commented on #137
FYI - Just checked in a fix into master.  This one should be fixed given the results of the new tests but if you'd like to give it a shot to confirm I'd be grateful.

[2019-09-11 22:37] ColinSullivan1 commented on #135
@robertmircea , certainly feel free to re-open if you have any more questions.

[2019-09-11 22:37] #135 closed

[2019-09-11 22:38] #131 closed

[2019-09-11 22:41] ColinSullivan1 commented on #68
I'm closing this for now, please re-open if this remains an issue.

[2019-09-11 22:41] #68 closed

[2019-09-11 22:47] ColinSullivan1 commented on #55
I believe this has been address by PR #138, specifically [this](https://github.com/nats-io/stan.net/pull/138/files#diff-5066fbd80c4bc167aec5d4156f019121R77) section of code - if the Ack was removed, then the Ack complete will not be invoked through `InvokeHandler`.  Please re-open if you discover this in a release after v0.1.6.

[2019-09-11 22:47] #55 closed

[2019-09-11 22:55] ColinSullivan1 commented on #77
I apologize for not seeing this sooner.  Is this still an issue, or did you work past it?  If it is, could you let me know the version of the streaming server?

[2019-09-12 04:40] selstam commented on #77
No worries! And no, I don't think it's an issue any longer - at least we haven't seen the problem in production.

[2019-09-18 10:52] kaspertygesen commented on #137
I have not been able to reproduce the problem with the new code. I have run the scenario several times.
I would consider the problem resolved 👍

There is still a minor performance issue when NATS crashes, where the services run high on CPU, but they recover automatically within a minute or so.
I have tried to profile it, but the trace doesn't give me anything useful, it just points to some messagi

[2019-09-18 12:17] DeployChef opened #140 "When wait 1.7 version?"
When wait 1.7 version with reconnect changes?

[2019-09-18 15:11] ColinSullivan1 commented on #137
Good to hear!  Thank you for testing, much appreciated!

If you do get more information about your performance issue or can isolate a test case please open an issue...

[2019-09-18 15:11] #137 closed

[2019-09-18 15:14] ColinSullivan1 commented on #140
@DeployChef , I will try for today.  I was waiting for some feedback on the reconnect issue - we've verified it's fixed by someone else reporting the issue so will proceed with the release.

[2019-09-18 18:15] #134 closed

[2019-09-18 20:49] ColinSullivan1 commented on #140
I've just published a release.  It may take awhile for Nuget to index.

Here you go:  https://www.nuget.org/packages/STAN.Client/0.1.7

[2019-09-18 20:49] #140 closed

[2019-09-19 06:29] DeployChef commented on #140
Wow thanks! Have a nice one!

[2019-09-19 07:20] DeployChef opened #142 "Only stan options in reconnect"
Deadlock now not happen, but producer doesn't reconnecting with stan options. Connection state set on disconnected, and reconnect not happen.

It work if i use nats options
[code]

[2019-09-19 15:11] ColinSullivan1 commented on #142
@DeployChef , thank you for letting us know.  You might be timing out on pings.  Also, there's a newer feature in the NATS client I need to take advantage of in the STAN client to prevent buffering during reconnect, which requires a new release of the core NATS client and another change here.  We'll address this in the next release.  In the meantime, using Options.Reconnect forever (or a high valu

[2019-09-25 03:18] RichiCoder1 commented on #129
[C#8 now provides `Asynchronous Streams`](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/generate-consume-asynchronous-stream) which may be an even more natural fit for this, though you'd only be able to expose it to .Net Standard 2.1 & .Net Core 3 targets.

[2019-10-28 07:59] alexpantyukhin opened #146 "Setup pendinglimits with options."
Pendinglimits are hardcoded there https://github.com/nats-io/stan.net/blob/master/src/STAN.Client/StanConnection.cs#L281 .
Is it okay to add new parameters into `StanOptions`?

[2019-10-28 07:59] alexpantyukhin commented on #146
It's okay for me to create a PR, if the issue is approved.

[2019-10-28 11:00] danielwertheim opened #147 "Add support for IObservable in the STAN client"
Add support for `IObservable<>` as we did with the `NATS.Net` client (https://github.com/nats-io/nats.net/issues/303), but extend only the `IStanConnection` as the subscription does not expose the event handler etc.

Build on top of the RX parts introduced in NATS, e.g. `NATSObservable`

[2019-10-28 11:02] danielwertheim commented on #147
@ColinSullivan1 I have a branch (https://github.com/nats-io/stan.net/compare/master...danielwertheim:rx) were this is implemented, but as it builds upon stuff in the NATS-client that has not been released yet, there no point in opening a PR as the build will fail.

We need to get at least a preview release out of NATS, so that STAN can use some RX parts in it.

[2019-10-28 15:09] ColinSullivan1 commented on #146
I'd appreciate that!  I'd suggest a method:
[code]

[2019-10-28 15:15] ColinSullivan1 commented on #147
Ok.  Let's get a release of NATS out with RX then.  I'll update the deploy keys right now.

[2019-10-29 07:19] alexpantyukhin commented on #146
@ColinSullivan1 Do youthink the method would be better? I reviewed the `Options`class and found that there mostly properties: https://github.com/nats-io/stan.net/blob/master/src/STAN.Client/Options.cs#L21

[2019-11-05 15:20] ColinSullivan1 commented on #146
I do because you'd likely want to set both message and bytes limits at the same time to reduce the chance of error.

[2019-11-12 23:51] ColinSullivan1 commented on #130
Closing due to inactivity, please re-open this if you're still having problems.

[2019-11-12 23:52] #130 closed

[2019-11-14 08:24] zamap opened #148 "How to delete Channel (nats streaming)"
i can remove subscription via stanSubscription.Unsubscrib(), how to do the same for channels? the channel is created after publishing to the subject

[2019-11-14 12:31] #148 closed

[2019-11-17 19:05] jdvor opened #149 "Question: lifetime & thread safety"
For a long running process (daemon or windows service) what are recommended / expected  lifetime for objects like `StanConnectionFactory`, `Connection` and `AsyncSubscription`?
Also, are they thread-safe?

From a brief glance to the source code, I would say:
- `StanConnectionFactory`: does not matter
-  `Connection`, `AsyncSubscription`: re-usable, long-lived and probably thread-safe objects

Coul

[2019-11-17 23:39] ColinSullivan1 commented on #149
@jdvor , Thanks for using NATS!  Yes, they are longer lived objects and both are thread-safe.  Every connection and subscription creates resources on the server, so if you have a choice, better to keep them around for as long as you need them.  That being said, if you know you won't require a connection or subscription for a long period of time, then don't worry about recreating connections or sub

[2019-11-18 19:26] jdvor commented on #149
Thanks very much.

[2019-11-18 19:26] #149 closed

[2019-11-21 09:45] danielwertheim opened #152 "NATS.Client v0.10.0+ is signed"
As of v0.10.0 of NATS.Client (that STAN.Client is dependent on), NATS.Client.dll is once again signed. This causes issues as you then e.g. can not have the current version of STAN.Client and force update to v0.10.0 of NATS.Client

**Solution 1:** Release a new version of STAN.Net that is signed and takes a dependency on v0.10.0 of NATS.Client

**Solution 2:** Release a new version of STAN.Client a

[2019-11-21 09:47] danielwertheim commented on #152
@ColinSullivan1 here's the issue for signing in NATS.Client https://github.com/nats-io/nats.net/issues/291

[2019-11-21 12:45] danielwertheim commented on #152
Solution 1 would be solved with PR #150

[2019-11-21 22:10] #73 closed

[2019-11-21 22:34] #147 closed

[2019-11-22 19:46] robertmircea opened #157 "stanConnection.Subscribe async message handler"
Would it be possible to introduce an async message handler for Subscribe method? I would like to be able to await inside message handler and properly handle exceptions thrown.

[2019-11-22 23:40] somedudefrominternet commented on #157
Hi @robertmircea. Would following code work for you?

[code]

[2019-11-23 12:23] robertmircea opened #159 "Messages redelivered even if acked"
I am encountering an abnormal behaviour in my application while consuming messages from a durable subscription. Occasionally, I see in my logs redelivered messages while the previous ack operations on those messages did not throw. This behaviour happens once in a while. The expected outcome when a message was acked without any exception was to consider it successfully processed.

Is there any situ

[2019-11-25 11:45] danielwertheim commented on #74
@ColinSullivan1 I just tested this with the latest release `v0.2.0`. And as far as I understand, that works.

[code]

If i use `v0.1.7` i get the same issues that you got above.

[2019-11-25 12:48] danielwertheim commented on #80
@ibrahimuludag @ColinSullivan1 I do understand that this is an old issue but I wonder if you can confirm if my sample below is correct and should have failed, because I failed to recreate the issue. I tried with a couple of NuGet package versions (0.2.0, 0.1.7 and 0.1.4).

[code]

[2019-11-25 22:45] cwoolum opened #160 "Scaling a Subscriber"
I am just looking into the use of NATS in my services and I had a question about some functionality.

I have a bunch of messages that get dumped into the queue in large numbers. I have a single subscriber that needs to scale to accommodate load up to a certain n number of max instances.

Based on my research, it seems that every instance of my service that subscribes would receive each message whi

[2019-11-25 22:59] ColinSullivan1 commented on #160
@cwoolum, You can scale with load balanced queue subscribers.

When you create a queue subscriber by assigning a queue group name, the NATS streaming server will send messages to the subscriber in the group with the least number of outstanding acknowledgements (usually the "least busy" client).  All you need to do is launch additional instances of your application/service and NATS will load balanc

[2019-11-25 23:37] cwoolum commented on #160
Thanks! That's exactly what I was looking for!

[2019-11-25 23:37] #160 closed

[2019-11-26 04:11] ColinSullivan1 commented on #160
Absolutely - thanks for using NATS!

[2019-11-26 21:58] ColinSullivan1 commented on #74
@danielwertheim, thanks for testing!  I'd consider this to be resolved...  @senzacionale or others - if this continues to be an issue please re-open.

[2019-11-26 21:58] #74 closed

[2019-11-27 04:19] ColinSullivan1 commented on #80
Thanks @danielwertheim - @ibrahimuludag, this looks to be resolved with the latest releases.  Please re-open if this continues to be an issue.

[2019-11-27 04:19] #80 closed

[2019-11-27 04:22] ColinSullivan1 commented on #152
imo go with solution #1.  Long term we'll be moving to JetStream so I think releasing streaming releases solely for critical .NET core fixes is acceptable.

[2019-11-27 04:22] #152 closed

[2019-11-28 07:20] danielwertheim commented on #159
@ColinSullivan1 I do believe this question is best suited for you, as my experience of NATS Streaming server is very limited.

@robertmircea are you seeing anything else around the same time in application and/or server logs? Like reconnecting or something? Can you confirm that `AckWait` time has not been exceeded so that the message is seen as "available" again for the server to redeliver?

[2019-11-28 08:28] danielwertheim commented on #146
@alexpantyukhin added support for this in PR #161 That will solve your needs, right?

[2019-11-29 20:16] ColinSullivan1 commented on #159
@robertmircea , yes this can happen.  If the ack from the client was sent but the NATS streaming server was shutdown/crashed before processing the ack, the original message may be resent.  Also, as @danielwertheim mentioned, if there's a backlog of acks in the NATS streaming server (e.g. the streaming server is under pressure), or there's a very short ack timeout (likely not this case), the client

[2019-11-30 10:20] robertmircea commented on #159
What is the most common way to handle idempotency that you've seen? I have multiple subscribers running in different processes across machines and I would like to have the following logic:

1. detect if a message was re-delivered up to x times.
2. if more than x times redelivered, ack it to mark it as processed. If less than x times, try to do the business logic.
3. even after x times and successf

[2019-11-30 17:44] robertmircea opened #162 "Cannot re-connect to server after nats-streaming-server is restarted"
I've encountered the following issue while trying to reconnect to nats-streaming-server. Here are the steps to reproduce:

1. nats-streaming-server is running
2. the app (see demo code below) connects to nats-streaming-server and starts publishing messages
3. the nats-streaming-server is killed
4. on each subsequent Publish, `STAN.Client.StanConnectionException: The NATS connection is reconnecting

[2019-12-02 15:44] ColinSullivan1 commented on #162
@robertmircea , we'll take a look and get back to you.  Thanks for reporting this.

[2019-12-02 16:52] danielwertheim commented on #162
@robertmircea @ColinSullivan1 I've tested with embedded NATS-Server in NATS-Streaming-Server (v0.16.2) running in CLI: `nats-streaming-server -st file -dir .`; on Windows and for me, it's continues, once the timeout has occurred.

[code]

Is there any config

[2019-12-02 17:09] ColinSullivan1 commented on #159
@robertmircea , this is very specific to your use case and we'd have to learn more about it.  What is your subscriber doing - does it save data someplace?

One performant technique is to use a sliding window of IDs (or sequence numbers) to check in your application.  Upon startup your service could read from redis (or some data source if you are already saving data) and hold the last N ids of proc

[2019-12-02 18:05] robertmircea commented on #159
Great suggestion, didn't think about this... It will work reliably in a single instance environment without the need to go to Redis for each message delivery in subscription.  How would this technique work in a multi-instance app environment? If each instance is keeping a private, in-memory bounded dictionary of "seen" ids, without synchronizing (e.g. via Redis) apart start up time, what will happ

[2019-12-02 18:10] robertmircea commented on #162
The test was done in macos environment using .net core 3.0 runtime. I will try to repeat it in on Windows and on Linux using the same app.

[code]

[2019-12-02 21:01] ColinSullivan1 commented on #159
With load balanced queue subscribers, you'll need some way of coordinating the unique Ids which would mean sharing that information somehow (a data source) to do it perfectly - back to the lookups in Redis.

Can you detect duplicates when processing the data?  e.g. check for a key in a DB?  Depending on your performance requirements, that could be simplest, and would be easy to scale.

There is a

[2019-12-02 22:15] robertmircea commented on #162
And the results of the test on Windows Server 2019.

First run:
[code]

Second run:
[code]

[2019-12-03 10:42] danielwertheim commented on #162
@robertmircea with regards to the initial issue (not the Stream seek issue), what's happening is that the outgoing pings exceeds the maximum outgoing pings and then the `StanConnection` is closed, but as the `NATSConnection` was injected, this is not cleaned up as the `STANConnection` doesn't own it. So those handlers keep working.

You could perhaps use `stanOpts.ConnectionLostEventHandler` to do

[2019-12-03 12:09] ColinSullivan1 commented on #162
I would suggest increasing the number of pings and ping interval first to what best fits the environment (how quickly do you need to detect a lost connection and how many times should you retry before giving up).

e.g. Here are 10 minutes of retry attempts with a 5 second timeout.

[code]

In addition, one can schedule a manual reconnect in the `ConnectionLostEventHandler` and it'd be good practic

[2019-12-03 17:36] robertmircea commented on #162
@ColinSullivan1 It is only a test app to demonstrate the issue. Ping timeout was set so low only to show the exception with Connection closed which never recovers.

In the example, I wanted to surface the bug about accessing the stream's Position. It seems to occur when a ping request is about to be sent to the server and the server is killed. In my opinion, since ping is initiated by the library

[2019-12-03 22:16] ColinSullivan1 commented on #162
I think disabling the reconnect buffer would fix this, and would be in-line with the golang and C clients.  Given this is NATS streaming, I don't think the client should make an effort to resend (and use the memory buffer) - the streaming server will handle missed messages.

Internally, we'll need to override the ReconnectBufSize option...  In the meantime, if you add this to your NATS options, it

[2019-12-04 06:48] danielwertheim commented on #162
@ColinSullivan1 Will setting it to `Options.ReconnectBufferDisabled` work? It seems like the NATS Client will then throw an exception:

[code]

[code]

[2019-12-04 06:56] danielwertheim commented on #162
@ColinSullivan1 Think I found it, it should be `Unbounded`, not `Disabled`, right?

[code]

[2019-12-07 00:02] ColinSullivan1 commented on #162
This was resolved - the reconnect buffer was disabled.

[2019-12-07 15:01] robertmircea commented on #162
How can I test the fix and see if the error was solved? Are there going to be published new nuget packages soon for NATS and STAN clients? Thanks!

[2019-12-08 21:23] ColinSullivan1 commented on #162
I've pushed a core NATS prerelease:
https://www.nuget.org/packages/NATS.Client/0.10.1-pre2

This should address the issue.  If you disable the reconnect buffer through the NATS connection options:

[code]

Then you should be good to go.

[2019-12-09 09:29] robertmircea commented on #162
Upgraded to latest NATS.Client but now I encounter a different unhandled error (which crashes the test app) in the timer callback which handles automatic ping to NATS server:

NATS client config:
[code]

[code]

[2019-12-09 18:49] NATS-CI commented on #162
Thanks for testing this out Robert.  We'll add a fix soon.

On Mon, Dec 9, 2019 at 2:29 AM Robert Mircea <notifications@github.com>
wrote:

[2019-12-21 15:08] robertmircea commented on #162
Is this fix completed and library pushed to nuget.org? I would like to give it another try.

[2019-12-23 15:59] ColinSullivan1 commented on #162
I will get to this today.

[2019-12-23 23:29] ColinSullivan1 commented on #162
I'll be looking into a few test issues with this fix over the next week - please be patient over the holidays.

[2019-12-24 18:19] ColinSullivan1 commented on #162
@robertmircea, Thanks for your patience.  I've published a prerelease with a fix - please let me know how it goes.

https://www.nuget.org/packages/STAN.Client/0.2.1-pre1

[2019-12-27 19:48] robertmircea commented on #162
I've tested again. A little bit of improvement meaning that NATS reconnection seems to be performed correctly, but unfortunatelly the publisher cannot publish any new message after the initial connection was lost. It throws continuously on every publish attempt with "connection closed" and never recovers, as it should.

[code]

[2019-12-27 20:16] ColinSullivan1 commented on #162
Thanks for testing!  We must be missing a test for this, I'd have thought this would have been picked up by testing.  I'll look into this right now.

[2019-12-27 20:39] ColinSullivan1 commented on #162
On a second look, this is behaving as expected.  Once the STAN connection is lost, you need to re-establish the connection.  The underlying NATS connection has been re-established, but from the perspective of the STAN client the NATS streaming server is not available.

In your case, the NATS streaming server is running in embedded mode (there's a core NATS server embedded in the NATS streaming ser

[2019-12-28 06:29] robertmircea commented on #162
Many thanks for your time spent on this issue! Is kind of odd and I can never imagine a practical situation in which I would not like that a STAN client to recover when ping failed but the enclosed NATS connection is alive.  I was led by the impression that STAN connection should be long lived (and act as a singleton) similar to NATS connection object. In my prod app, I was registering the STAN co

[2019-12-30 04:38] ColinSullivan1 commented on #162
@robertmircea, absolutely, we're happy to help and thank you for working through this issue with is.  I hear you and do understand that it doesn't make a lot of sense when you know the streaming server is the server your client is connected to.

For the time being, option 1 (disable) is what I recommend.  I'm not sure how many new features we'll add into the STAN client at this time, but will take

[2019-12-30 09:55] robertmircea commented on #162
1. could you give more info / links on what will be possible with JetStream?
2. please officially publish the updated NATS and STAN clients in Nuget.org (now they are pre-release)

Thank you!

[2019-12-30 11:19] robertmircea commented on #162
One more thing which I observed right now while trying to close a STAN connection while NATS Streaming server was down. The app crashed with unhandled exception because
opts.ReconnectBufferSize = Options.ReconnectBufferDisabled.

I don't know if is normal, but maybe it should be somehow documented.

The stacktrace:
[code]

[2019-12-30 16:40] ColinSullivan1 commented on #162
Nope, that's another place we need to check for that exception.  I'll fix this today, and once reviewed, publish a release.

[2020-01-01 23:04] minhhungit opened #168 "Stream server re-send messages"
Issue with nats-stream
I have about 10k messages in subject, I run consumer with param `-all`
expected is it will fetch message from  1 => 10k, right ?
but sometime it just processes some messages, wait a bit and and re-process them (Redelivered = true)

![image](https://user-images.githubusercontent.com/2279508/71646776-ae9cc580-2d1e-11ea-80b9-37f6eeae756c.png)

See above image, I have 10k messag

[2020-01-01 23:20] minhhungit commented on #168
I attached[ video above](https://github.com/nats-io/stan.net/files/4014640/video-nats-stream-steps-procedure.zip)

[2020-01-02 01:18] minhhungit opened #169 "issue out of memory: cannot allocate 122880-byte block (1756626944 in use)"
- Windows
-  [nats-streaming-server-v0.16.2-windows-386](https://github.com/nats-io/nats-streaming-server/releases/download/v0.16.2/nats-streaming-server-v0.16.2-windows-386.zip)

When I publish about 10.000 messages to nats stream server I get out of memory issue while RAM is still available

1 message ~ 100.000 bytes

![image](https://user-images.githubusercontent.com/2279508/71648554-64284280-2

[2020-01-02 01:32] minhhungit commented on #169
But it's good with docker image, here is video when I publish with docker

[nats-stream-ok-with-docker-image.zip](https://github.com/nats-io/stan.net/files/4014743/nats-stream-ok-with-docker-image.zip)

[2020-01-02 01:43] minhhungit commented on #169
nats-streaming-server-v0.16.2-windows-amd64.zip work quite well

nats-streaming-server-v0.16.2-windows-386.zip does not

[2020-01-02 18:06] ColinSullivan1 commented on #168
@minhhungit , thank you for using NATS!  We appreciate the detail and video you've provided describing this problem.  Many thanks to **Thomas Pihl** on NATS slack for identifying this.

I've verified that reducing the SubscriptionOptions MaxInflight resolves this.

[code]

Also, I've verified that your client was a [slow consumer](https://docs.nats.io/nats-server/nats_admin/slow_consumers).  By ad

[2020-01-02 18:06] #168 closed

[2020-01-02 18:10] minhhungit commented on #168
it works, thank you

[2020-01-02 22:11] ColinSullivan1 commented on #169
This error seems reasonable.  On windows, without special switches and being compiled to be "large address space aware", a 32 bit process can only access a maximum of 2 GB of user space memory.

You're approaching that with 1.75 GB allocated, and I suspect at that point the heap manager can't find any pages available that satisfy the 122880 byte allocation request.

The size of your payloads are 1

[2020-01-03 01:05] ColinSullivan1 commented on #162
@robertmircea , here you go... https://www.nuget.org/packages/STAN.Client/0.2.1

[2020-01-03 01:21] kozlovic commented on #169
@ColinSullivan1 Nothing to add to what you have mentioned. The 32bit will indeed be limited in addressable memory space, so using the MEMORY store is then not the right choice. The user can try with file store or simply move to the 64bit version.

[2020-01-03 03:01] minhhungit commented on #169
Yeah, thank you for your explain guys. I understood.
I will use 64bit version.

[2020-01-03 03:01] #169 closed

[2020-01-04 01:41] minhhungit opened #171 "Consumer does not process message after changing clientId"
As title, consumer will not process message anymore after changing clientId although we are using -all mode

- windows
- nats-streaming-server-v0.16.2-windows-amd64
- consumer command:

---

I added video for reproducing

[issue-with-client-id.zip](https://github.com/nats-io/stan.net/files/4021407/issue-with-client-id.zip)

[2020-01-05 17:53] robertmircea commented on #162
Thank you!

[2020-01-05 17:53] #162 closed

[2020-01-07 02:11] ColinSullivan1 commented on #171
I was able to reproduce this and will take a look.

[2020-01-07 19:51] ColinSullivan1 commented on #171
@minhhungit , This was an issue of the sample application not cleanup up between test runs.  The connection and subscription was left "active" between test runs so the streaming server was not redelivering the messages.  I have a PR updating the sample code to cleanup on early exit.

You'll want to add a [Console.CancelKeyPress](https://github.com/nats-io/stan.net/pull/172/files#diff-6e65203e4fa98

[2020-01-08 03:09] minhhungit commented on #171
@ColinSullivan1 thank you for looking this issue

Currently I see it works well with this command:

But when I remove `-all`/`-seq` then it won't process message
It also does not process message when I add `durable` param like this

In another hand, when I used param `-last` it just show the last message which is processed before but does not process the rest messages are still in streams

[2020-01-08 03:19] minhhungit commented on #171
Honestly I am not sure how `durable` work and how it interacts with other command like -all, -seq, -last

I also upload video for issue demo

[issues-with-nats-client.zip](https://github.com/nats-io/stan.net/files/4033464/issues-with-nats-client.zip)

[2020-01-08 23:19] #171 closed

[2020-01-09 02:13] minhhungit opened #173 "Consumer does not process message without Deliver options"
follow issue https://github.com/nats-io/stan.net/issues/171

Currently I see it works well with this command:

But when I remove -all/-seq/-last then it won't process message
It also does not process message when I add durable param like this

In another hand, when I used param -last it just show the last message in streams, I thought it will process message from the last message that it processed

[2020-01-09 16:49] ColinSullivan1 commented on #173
@minhhungit , thank you for the video.

`Last` is behaving as expected, `--last` will always return the last message the streaming server has received on the channel, not the last message your subscriber has received (I need to fix that documentation).  To pick up where you've left off between test runs, you'll want to use a durable subscriber.

When you start the durable, without the `--all` flag

[2020-01-09 17:50] minhhungit commented on #173
Thank you for your explained @ColinSullivan1

Does server auto unsubscribe for a period of time, for example in case subscriber is crashed, if it has that feature then how long

And what is expected if we start the durable without --all flag, I see that it does not do anything, is that correct

[2020-01-09 18:16] ColinSullivan1 commented on #173
@minhhungit , The server will retain state of a subscriber until it recognizes that subscriber has been disconnected.  If the subscriber is durable, it'll retain that state, so the subscriber can be disconnected for any period of time and will resume where it left off until it is unsubscribed.   Note that If the server has reached any of it's limits and rolled messages off, then the subscriber may

[2020-01-09 18:22] minhhungit commented on #173
Thank you @ColinSullivan1

[2020-01-09 18:22] #173 closed

[2020-01-09 18:23] ColinSullivan1 commented on #173
Absolutely.  There's documentation [here](https://docs.nats.io/nats-streaming-concepts/channels/subscriptions) that explains subscriptions in more detail.

[2020-01-09 18:35] minhhungit commented on #173
Wait @ColinSullivan1 , unlucky it did not process old messages

![image](https://user-images.githubusercontent.com/2279508/72094570-487cf780-3349-11ea-81eb-766fca4d70ff.png)

[2020-01-09 19:35] ColinSullivan1 commented on #173
For durables, the starting position given by the client when restarting a durable subscription is ignored...  The 2nd run was restarting the durable.  You'll need to unsubscribe the durable with the `-unsubscribe` parameter to receive all messages again.

https://docs.nats.io/nats-streaming-concepts/channels/subscriptions/durable

[2020-01-09 20:14] minhhungit commented on #173
I'm quite confusing with unsubscribe feature.
I guess it will be really good if we have a page that show combination of options and the expectation of the combination. It will help new guys like me trace easier.

Anyway, thank you !

[2020-01-15 07:46] johnsusi opened #175 "Deadlock in BlockingDictionary"
First a big thanks for all your hard work. It is very appreciated!

We are having some issues in a system which publishes a lot of data (lots of small messages < 1k).

I have narrowed it down to multithreading and BlockingCollection. My guess is that the issue arises from Remove and waitForSpace takes the locks in different order.

Here is a small test that, on my computer, hits the deadlock every

[2020-01-15 14:21] watfordgnf commented on #175
I'm able to remove the deadlock with the following change:
[code]

[2020-01-15 14:22] watfordgnf commented on #175
I'm evaluating whether other changes may be more appropriate, such as not holding `StanConnection.mu` when calls to `BlockingDictionary.Remove` are made.

[2020-01-15 15:13] ColinSullivan1 commented on #175
@watfordgnf , really appreciate you taking a look at this.  Thanks!

[2020-01-15 17:18] johnsusi commented on #175
Wow that was quick, thanks :)

We solved it temporarily by replacing the wait for space with a simple sleep/retry loop

[code]

It will not affect performance since this only happens when we are writing to fast anyway.

Looking forward to trying out your changes.

[2020-01-15 17:36] johnsusi commented on #129
Here is another approach using channels.

[code]

https://devblogs.microsoft.com/dotnet/an-introduction-to-system-threading-channels/

[2020-01-15 18:17] watfordgnf commented on #175
@johnsusi I applied a very similar fix as well, such that it will not wait for space in the pubAckMap any longer than the ping interval, which fixes a second deadlock seen with unexpected connection failures. I removed the deadlock itself by ensuring `addLock` and `dLock` are never held under the same path.

Another interesting bit is `pubAckMap.Remove` no longer needs protection under `mu`, remov

[2020-01-15 21:09] johnsusi commented on #175
Very nice @watfordgnf, seems my issue is resolved at least on my simple example. Will try out with our real system and see if any problems arise and report back here after.

[2020-01-15 23:42] ColinSullivan1 commented on #175
@johnsusi, would love the feedback - much appreciated!

[2020-01-22 07:15] johnsusi commented on #175
Everything seems to be working now so big thumbs up here.

[2020-01-22 07:15] #175 closed

[2020-01-22 21:33] ColinSullivan1 commented on #175
Thanks for checking @johnsusi!

[2020-04-03 07:43] oncicaradupopovici opened #178 "Subscribing to a large number of subjects takes a lot of time and memory consumption"
Subcribing to:
- 100 subjects: takes 1 second and occupies 6 MB
- 1000 subjects: takes 12 seconds and occupies 48 MB
- 10000 subjects: takes 120 seconds and occupies 450 MB

We can see that it scales quite liniar but we are in a multi-tenant environment and we need to subscribe to a collection of subjects for every tenant, so the number gets large quickly.

Is there any tunning settings we can do

[2020-04-06 15:42] ColinSullivan1 commented on #178
@oncicaradupopovici , thank you for raising this issue. Each STAN subscription is backed by a number of underlying NATS subscriptions, so they take up quite a bit more memory than core NATS.   I'll take a look.

In the meantime,  reducing the # of tasks used by the underlying core NATS library should help.  NATS defaults to providing the best performance, allocating a task for each subscription.

[2020-04-07 03:05] ColinSullivan1 commented on #178
I ran a quick test, tried tweaking delivery task count and a few other options - unfortunately that doesn't appear to make a difference:

Note that with .NET core version `3.0.101` and a memory only streaming server I'm seeing better memory usage and performance.

[code]

I'll look to see if there are other places we can conserve memory.  The NATS client will scale much better with JetStream (next

[2020-04-07 12:00] oncicaradupopovici commented on #178
We have managed to reduce the memory allocation from 450MB to 13Mb for 10000 subjects, using the TaskCount set to 5, witch is great! We will do some tests to see how it performs with this setting.
Thank you very much for your help!

[2020-04-07 15:05] ColinSullivan1 commented on #178
Great!  Glad it helped, and thanks for using NATS!

[2020-04-07 15:05] #178 closed

[2020-08-27 11:48] dorny opened #181 "Not owned NATS connection is closed if timeout occurs during ConnectRequest"
I had encountered an unexpected behavior. NATS connection provided via `StanOptions.NatsConn` is closed by STAN `Connection` constructor if the `NATSTimeoutException` is thrown during `ConnectRequest`. It can be easily reproduced by using wrong (non-matching) cluster ID. It may also happen when NATS server is already started but NATS.Streaming server is still starting and misses the connection req

[2020-08-27 16:25] ColinSullivan1 commented on #181
Thanks!

[2020-08-28 18:30] #181 closed

[2020-08-31 19:03] dorny opened #184 "Invalid behavior when using same NATS connection for both NATS and STAN subscriptions"
I had encountered quite invalid behavior:
We have single instance of NATS `IConnection`. We use it to setup NATS subscriptions and the same instance is also used in `IStanConnection` (passed via `StanOptions.NatsConn`).

While setting up STAN subscriptions via `IStanSubscription.Subscribe(subject, options, handler)` the `NATSTimeoutException` is thrown. However our `handler` is still being execute

[2020-09-01 17:03] ColinSullivan1 commented on #184
Reusing the same connection is supported - we may have a bug here.  I'm not sure why you'd be getting a timeout exception upon establishing a subscription.  It is concerning that you have a "partial" subscription, meaning the client didn't clean up.

Which version of the client are you using, and would you be able to reproduce this in a simple app you could share?

[2020-09-01 20:06] dorny commented on #184
Sure, I will try to reproduce it and post here link to the repo.
However as it happens only in one of our services and only during the startup, it's hard to say how easy it will be to reproduce it.
Maybe it's a threading issue. We will see.

I'm using the latest version of both NATS and STAN clients.

[2020-09-02 15:29] ColinSullivan1 commented on #184
@dorny, We'd appreciate it, it'd really help us out.  If you have a full stack trace from the `NATSTimeoutException` and server logs from the time this happened might shed some light on this.

BTW, I found an issue where the subscription timeout is hardcoded to 2s.  That needs to be made configurable.  I'll create an issue for that.

[2020-09-02 22:15] ColinSullivan1 opened #185 "Configurable Timeouts for Protocol Requests"
Some timeouts are hardcoded for protocol requests (e.g. Subscribe), and need to be configurable.

Related to #184.

[2020-09-04 22:49] ColinSullivan1 opened #186 "Update to .NET 4.6"
Update the build to `net46`, which will be required to deploy in Azure Pipelines and to use the upcoming .NET core releases.

[2020-09-11 10:55] dorny commented on #184
Minimal example: https://gist.github.com/dorny/6255e9a6679a2f582c98e3fa93b91df0

My initial assumption that it's caused by some threading issue was wrong.
Bug is reproducible once you use `IConnection.RequestAsync(...)` method.

Output of the code in gist:
[code]

[2020-09-14 21:25] paul42 commented on #95
I think there might be some logic around the StanSubscriptionOptions.LeaveOpen property - I was trying to simulate a 'durable subscription' with a console app that would make a new connection and put in a using and loop so it would "disconnect" every few moments, but what I didn't realize is that my using() closure was calling dispose and because I didn't set leave open on that subscription, I was

[2020-09-14 23:59] paul42 opened #187 "when using connection.subscribe with Subscription opts, can't get qgroup to work"
I have a bit of code, here, but essentially when I'm connecting using different signatures of the subscribe() method I get different results for queue groups

when I try to build a proof of concept to demonstrate queue groups like this gist: https://gist.github.com/paul42/3b027c5daf989643097a582055ef589e

I get messages delivered to all 3 of my workers - when I comment out my 'subscriptionOptions'

[2020-09-15 03:13] paul42 commented on #187
is it related to durable name, or options somehow? I think I got a bit closer and added some tests in here: https://github.com/nats-io/stan.net/pull/188

[2020-09-18 23:14] ColinSullivan1 commented on #187
I've reproduced your test results locally and will take a look at this over the weekend.  Thanks for the PR (#188) with the tests!

[2020-09-18 23:15] ColinSullivan1 commented on #186
Resolved via #189

[2020-09-18 23:15] #186 closed

[2020-09-21 01:10] ColinSullivan1 commented on #187
When you are using subscribers in a queue group they act as one and so must use the same durable subscriber name.  Here's some test code based on your PR that demonstrates queue subs sharing the work w/o overlapped sequence numbers.

[code]

[2020-09-21 18:39] paul42 commented on #187
ahhh, thanks so much for helping me out there, I did not realize that `act as one and so must use the same durable subscriber name` but it makes sense now. Thanks for going in detail for me, I really appreciate the help!

[2020-09-21 18:39] #187 closed

[2020-09-21 18:43] ColinSullivan1 commented on #187
Anytime!

[2020-09-25 23:41] ColinSullivan1 commented on #184
Unfortunately your test code (ported to tests) doesn't seem reproduce the error, I'll revisit that to be sure.

Here are my thoughts...

STAN subscriptions are created by:
1) Creating an inbox to represent the subscription channel (STAN subject)
2) Create a subscription on that inbox
3) Make a NATS request to the streaming server to perform a streaming "subscribe"
4) Wait for the response and proc

[2020-09-26 13:21] dorny commented on #184
I'm pretty sure this is not an performance issue so increasing timeout won't help here.
Of course making timeouts configurable would be good, it's just a different topic.

I tried my test code again and the bug is always reproduced.
I'm running nats-streaming locally in docker.
It's a fresh instance using memory store. No other client is connected.
It's running on localhost so there are no network

[2020-09-27 23:31] rampratapa opened #190 "Stan Client deployed in Kubernetes injected using DI is getting an error clientID already registered during load testing"
Hi All,  good evening,
  I am trying to test STAN client in .Net Core deployed into Kubernetes as Pod.  The following are the stand options set

  StanOptions cOpts = StanOptions.GetDefaultOptions();
            var random = new Random().Next(1, 100);
            cOpts.NatsURL = natUrl;
            var clusterID = "stan";
// the following is to make the unique client while scaling the pods.

[2020-09-28 00:22] ColinSullivan1 commented on #184
I'll keep looking... thanks @dorny.

[2020-09-28 03:14] ColinSullivan1 commented on #190
Thank you for using NATS!

## StanConnectRequestException: stan: clientID already registered

The error is originating at the server, and is likely caused by a client with the same ID not closing a connection (e.g. starting a connection with the same cluster ID before the previous connection was closed).  This is most likely.

It's possible (but unlikely) you're trying to establish a new connectio

[2020-09-28 12:30] rampratapa commented on #190
Good morning,   Initially I was using the approach you suggested,

The following is to get the NATs options and created the NAT connection
[code]

The following value set in the stan options
[code]

The issue with this approach it is firing **ConnectionLostEventHandler**  events and causing some time transaction to fail and other time it is taking too long to return the error,  causing impact to t

[2020-09-28 21:47] rampratapa commented on #190
good afternoon,  I have executed a performance test the following are the details

The Stan options set are:

[code]

[code]
The following is from subscriber log file
Tracker Lost Connection HandleStanConnection
NATS connection disconnected in Traker
NATS server in Tracker reconnected.
NATS Starting Subscribers.
Unable to restart tracker subscriptions  stan: clientID already registered

 the follo

[2020-09-30 02:15] ColinSullivan1 commented on #190
Thanks Ram.  It's looking like there was a long period of time when the network was unavailable - the STAN client timed out on missing heartbeats and the NATS client disconnected (assuming the `NATS connection disconnected in Traker` message is from a disconnected callback.

I have a few questions:
- Are you cycling the server during these tests?
- What is your application doing at the time `NATS

[2020-09-30 03:06] ColinSullivan1 commented on #184
FYI, outside of xunit I was able to reproduce this with .NET core 3.1.  When stepping through things work fine, so likely a timing/threading issue.   I noticed .NET core framework itself crash a few times as well, not good.

Wow, you've found a good one...  :)  I'll let you know what I find.

[2020-09-30 03:16] rampratapa commented on #190
Colin,  Good evening,  Thank you for your response.   I have the following setup.

 I have deployed the NATS and STAN in AKS using the following steps ( Though I wanted to setup a FT mode and I could not find steps to setup in Azure where as I was able to find AWS steps).
      https://docs.nats.io/nats-on-kubernetes/minimal-setup#ha-setup-using-statefulset :  HA Setup Using StatefulSets

Create a

[2020-09-30 14:03] ColinSullivan1 commented on #184
Interesting find - if get the task and wait... success.

[code]

[2020-09-30 19:24] ColinSullivan1 commented on #184
I believe I've found the issue.  It's a problem that's been resolved in the core NATS library.  See:  https://github.com/nats-io/nats.net/pull/404.  Building with current source and upgrading the core NATS client to 0.11.0-pre2 cleared this up.

Because the new release of the core NATS client will require net 4.6 compatibility, I'll need to coordinate releases for both NATS.Client and STAN.Client

[2020-10-01 21:39] ColinSullivan1 commented on #190
Thank you for sharing this code.  The reconnected event handler is for the lower level underlying NATS connection, and upon successful core NATS reconnection, you might still have a valid NATS streaming connection.  I'd move the STAN reconnect code to the ConnectionLostEventHandler.

e.g.

[code]

Can we see the entire log of the streaming server when this happens?

@kozlovic, any other thoughts h

[2020-10-02 03:35] rampratapa commented on #190
Colin,  good evening,  I made the changes and ran the load test and the subscribers are going down and they are not processing messages as it is not able to restart the subscribers,  if I re-deploy the pods it start picking up the messages.  It seems the ConnectionLostEventHandler runs only once.    I am hoping    args.Connection.NATSConnection will return the original NATs connection.  If not the

[2020-10-02 17:57] #185 closed

[2020-10-02 21:52] rampratapa opened #192 "StartWithLastReceived : Clarification"
// Subscribe starting with most recently published value
var opts = StanSubscriptionOptions.GetDefaultOptions();
opts.StartWithLastReceived();
var s = c.Subscribe("foo", opts, (obj, args) =>
{
    Console.WriteLine("Received a message: {0}",
        System.Text.Encoding.UTF8.GetString(args.Message.Data));
});

I have question about the above StartWithLastReceived flag.  What is really it is doing

[2020-10-03 02:34] rampratapa commented on #190
Colin,  Good evening,  I am enclosing the three pods stan log files.  The client connection is not stable and it disconnects after processing around 30K messages and here are the log files from streaming server after enabling debugging.

[stan.txt](https://github.com/nats-io/stan.net/files/5320931/stan.txt)
[stan1.txt](https://github.com/nats-io/stan.net/files/5320932/stan1.txt)
[stan2.txt](https:

[2020-10-04 03:22] rampratapa commented on #190
Colin,  good evening, here is the log from stan and my observation

**The following is publisher**
_2020/10/04 03:00:34.108025 [TRC] STREAM: [Client:proxy-96] Received message from publisher subj=trackmessagenet guid=7YMN1B659T8O712ZCXT02H
2020/10/04 03:00:34.111173 [TRC] STREAM: [Client:proxy-96] Acking Publisher subj=trackmessagenet_ guid=7YMN1B659T8O712ZCXT02H

**This is another publisher**
202

[2020-10-04 16:26] ColinSullivan1 commented on #190
Ram, thank you for the information.  I'm concerned about:

[code]

That stems from a bug (https://github.com/nats-io/nats.net/pull/349) that we fixed in the NATS.Client version v0.10.1.  This would cause resends if you aren't re-acknowledging the message after encountering this exception.  Can you check the client versions of both STAN.Client and NATS.Client assemblies?

Also, looking through the

[2020-10-05 00:35] rampratapa commented on #190
Colin,  Good evening,  Thank you for the quick response, I am using STAN.Client 0.2.1 which is referring NATS.client 0.10.0.    <PackageReference Include="STAN.Client" Version="0.2.1" />

I will spend some more time tomorrow to correlate the events and let you know what I find.

I need to find good steps to setup NATS/STAN on AKS using either Azure blob storage or disk files as I wanted to keep it

[2020-10-05 19:45] kozlovic commented on #190
@rampratapa I was asked to give some feedback.

- Upgrade to latest NATS Streaming server: 0.18.0
- You probably need to bump the streaming client PingInterval/PingMaxOutstanding (although I see that you did compared to the first post). You need those (interval*max) to cover a downtime and full restart of a leader to avoid the client considering the connection to the server lost.
- From the 3 serv

[2020-10-06 11:37] rampratapa commented on #190
@kozlovic ,  good morning,  Yesterday I spent my time on researching grpc related issue and I could not get time to look into NATS,  I will be working on this today. Our requirement is to keep the messages for about 24 hours in the queue and purge after that time period.  In case if we need to reprocess that one message, we should be able to get to it if we store the sequence number or if we need

[2020-10-06 14:45] kozlovic commented on #190
Correct. I just wanted to make sure that you understood how messages were removed in NATS Streaming.

[2020-10-07 23:29] rampratapa commented on #190
@ColinSullivan1,  good  evening,  I am using the following Nuget package for STAN
    <PackageReference Include="STAN.Client" Version="0.2.1" />

this pulls,  NAT 0.10.0,  where can I find latest STAN client that refers NAT 0.10.1 so that I can use for my testing.

Thanks
ram

[2020-10-08 14:58] ColinSullivan1 commented on #190
I'll be creating a new release this week, but in the meantime you should be able to update the NATS.Client to 0.10.1 in your project.  Using visual studio, I added NATS.Client 0.10.1 as a dependency and the STAN.Client then uses that version it via binding redirects.

e.g.
![image](https://user-images.githubusercontent.com/11180189/95475584-97d96e00-0943-11eb-8179-f417609ced61.png)

On another not

[2020-10-14 06:27] Semax opened #194 "Implement Publish/PublishAsync overloads with offset and length for byte array"
NATS client has overloads for Publish method accepting byte array along with offset and length of data to be used. It'd be great to have the same for STAN client. This will allow to have more options for message serialization and array recycling.

Thanks.

[2020-12-05 17:35] robertmircea opened #196 "Support for RedeliveryCount"
As per this MR nats-io/stan.go#295 a redeliveryCount method is added in stan.go. Please add support for redeliveryCount

[2021-01-21 11:51] fraliv13 commented on #157
When using ManualAcks = false are there any options besides blocking the thread?

[2021-01-28 17:05] #146 closed

[2021-02-15 09:48] MattiasCL opened #198 "Unhandled exception in unsubscribe from closeDueToPing"
Had a process crash following a disconnect from the NATS server with this stack trace:
[code]

Had a brief look in the source code: _cleanupOnClose_ only unsubscribes the _ackSubscription_ and _pingSubscription_ if the NATS connection isn't already closed, and _unsubscribe_ throws if called on a closed subscription. The connection's internal mutex isn't held in between those checks, so my guess is

[2021-05-31 09:51] HrenuS opened #199 "Dont work reconnect"
[code]

I have case:
1) create connection
2) publish...
3) disable ethernet
4) publish
5) enable ethernet
6) publish

NatsConnection always after enable ethernet is NULL.

![image](https://user-images.githubusercontent.com/14953257/120174554-a64fff00-c21e-11eb-8ce1-88f1759d5231.png)

[2021-07-20 18:31] VCuzmin opened #200 "Jetstream support"
When will you provide jetstream support?

[2021-07-21 17:16] scottf commented on #200
JetStream support will not be added to this client. Please see this issue, JetStream support is being added to the nats.net client.

[2021-07-21 17:16] #200 closed

[2021-08-12 13:38] ld100 opened #201 "100% CPU load once subscribed"
I've implemented NATS Streaming subscription as a .NET core BackgroundService. Subscription is working as I see, however the app is getting 100% CPU load all the time it runs, even when there is no processing of the messages at all.

I've attached my example: https://gist.github.com/ld100/ffede4e1d6f08bf2cb089b1721a8d7bb

The only other suspicious thing I see is that every time I restart the app,

[2021-08-12 14:15] danielwertheim commented on #201
As far as I can tell, the await you do is just on setting up the subscription. Then you enter a tight loop:

[code]
I might have interpreted it wrong, if not, that loop will spin like crazy, right? Shouldn't it just setup the subscription and store away any resources that might need to be disposed later on?

[2021-08-12 16:02] SuheylZ commented on #201
That is wrong way and definitely results in 100% CPU consumption.
The right way is
[code]

[2021-08-12 16:19] ld100 commented on #201
Thank you @SuheylZ
That was exactly the problem and your fix did help!

[2021-08-12 16:19] #201 closed

[2021-08-21 11:55] navid-dada opened #202 "StanConnection will not reconnect after losing connection to server and rosolving it again in version 0.3.0"
I create a simple stan client with the below code by stan client 0.3.0:
[code]
and host the latest version NatsStreaming with docker on my machine.  when I run my client it connects to the server and publishes its messages. when I stop my NatsStreaming service and start it again the nats connection reconnects to the server but StanClient still is throwing connection closed Exception.  this issue r

[2021-08-22 13:28] navid-dada commented on #162
I have encountered the same situation in version 0.3.0. when my Stan connection entered to Connection Closed Mode it never comes to connect state and all publish requests throw the Connection Close Exception.

this is my code to register stan Connection:

[code]

and I use this connection like this :

[code]
    and this is the output of my code when I stop the Stan service and after a while, I st

[2022-05-31 15:00] dungpa opened #204 "Is this possible to depend on a safer version of `Google.Protobuf` NuGet package?"
Currently `STAN.Client` Nuget package uses `Google.Protobuf` version 3.13.0 which contains security vulnerabilities.
See e.g.:
 - https://www.nuget.org/packages/Google.Protobuf/3.13.0
 - https://github.com/advisories/GHSA-77rm-9x9h-xj3g

It's possible for the downstream systems to pin to a newer version and apply binding redirects.
But it is not ideal to depend on a compromised version of a popula

[2022-05-31 15:56] scottf commented on #204
@dungpa We don't really support this client anymore, but if you make a PR with a fix we probably can merge it.

[2022-06-11 08:09] dungpa commented on #204
@scottf It has been done by Dependabot at https://github.com/nats-io/stan.net/pull/203?

Is there any chance to merge and release a new version of STAN.Client NuGet package?

[2022-06-11 16:01] scottf commented on #204
@dungpa I merged #203  I then noticed that Google.Protobuf  and Tools is at 3.21.1. Is it possible that you can upgrade to the latest? We really are not supporting this client anymore because of JetStream, but I can merge things and try to build.

[2022-06-12 18:52] dungpa commented on #204
@scottf I upgraded Google.Protobuf.Tools to 3.15.0 in https://github.com/nats-io/stan.net/pull/205 for consistency.

We are not ready to move to 3.21.1 yet, sorry.